{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<div class="container is-fluid">
    <div class="container is-max-desktop">
        <div class="is-flex is-flex-direction-column 
                    is-flex-wrap-wrap is-justify-content-center">
            <h1 class="title is-family-secondary my-6">Confirmed!</h1>
            <h1 class="is-size-5 mb-5 has-text-weight-bold">Your confirmation number is: <code>{{conf_no}}</code></h1>
            <p class="">
                You're all set! Someone will be in touch with you soon to confirm the details
                and let you know the next steps. Please take note of your confirmation number.
                You'll need it if you call us with questions. You can
                <a onclick="print()"
                   class="is-link">print this page</a>, if you'd like.
            </p>
        </div>
    </div>
</div>
{% endblock %}
