{% extends "base.html" %}
{% block title %}Contact Info{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-dark p-3 text-white">
        <h3>
            Let's get some information from you before we begin.
        </h3>
        <p>
            We'll only use this information to contact you about your rental inquiry.
        </p>
    </div>

    <div class="container is-fluid my-4">
        <form action="{{url_for('checkout.create_customer', r_id=r_id)}}"
              method="POST"
              enctype="multipart/form-data">

            <div class="form-floating mb-4">
                <input type="text"
                       class="form-control"
                       id="firstname"
                       placeholder="First Name"
                       required
                       name="firstname">
                <label for="firstname">First Name</label>
            </div>
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="lastname"
                       required
                       name="lastname"
                       placeholder="lastname">
                <label for="lastname">Last Name</label>
            </div>

            <p class="my-4 p-2 bg-dark text-white rounded">How can we reach you to confirm dates?</p>

            <div class="form-floating mb-4">
                <input type="email"
                       class="form-control"
                       placeholder="Email Address"
                       name="email"
                       id="email">
                <label for="email">Email Address</label>
            </div>
            <div class="form-floating mb-4">
                <input type="tel"
                       class="form-control"
                       id="phonenumber"
                       placeholder="Phone Number"
                       name="phonenumber"
                       required>
                <label for="phonenumber">Phone Number</label>
            </div>

            <p class="my-4 p-2 bg-dark text-white rounded">We need to know where to deliver the rental. What's your address?</p>

            <div class="form-floating mb-4">
                <input type="text"
                       class="form-control"
                       name="address"
                       placeholder="Street Address"
                       required
                       id="address">
                <label for="address">Street Address</label>
            </div>

            <div class="form-floating mb-4">
                <input type="text"
                       class="form-control"
                       placeholder="Address Continued"
                       name="address2"
                       id="address2">
                <label for="address2">Address Continued (optional)</label>
            </div>


            <div class="form-floating mb-4">
                <input type="text"
                       class="form-control"
                       name="city"
                       placeholder="City"
                       required
                       id="city">
                <label for="address2">City</label>
            </div>

            <div class="form-floating mb-4">
                <input class="form-control"
                       list="states"
                       id="state"
                       id="names_dl"
                       placeholder="Type to search...">
                <datalist id="states">
                    <option value="AL">
                    <option value="AK">
                    <option value="AR">
                    <option value="AZ">
                    <option value="CA">
                    <option value="CO">
                    <option value="CT">
                    <option value="DC">
                    <option value="DE">
                    <option value="FL">
                    <option value="GA">
                    <option value="HI">
                    <option value="IA">
                    <option value="ID">
                    <option value="IL">
                    <option value="IN">
                    <option value="KS">
                    <option value="KY">
                    <option value="LA">
                    <option value="MA">
                    <option value="MD">
                    <option value="ME">
                    <option value="MI">
                    <option value="MN">
                    <option value="MO">
                    <option value="MS">
                    <option value="MT">
                    <option value="NC">
                    <option value="NE">
                    <option value="NH">
                    <option value="NJ">
                    <option value="NM">
                    <option value="NV">
                    <option value="NY">
                    <option value="ND">
                    <option value="OH">
                    <option value="OK">
                    <option value="OR">
                    <option value="PA">
                    <option value="RI">
                    <option value="SC">
                    <option value="SD">
                    <option value="TN">
                    <option value="TX">
                    <option value="UT">
                    <option value="VT">
                    <option value="VA">
                    <option value="WA">
                    <option value="WI">
                    <option value="WV">
                    <option value="WY">
                </datalist>
                <label for="names_dl"
                       class="form-label">State</label>
            </div>

            <div class="form-floating mb-4">
                <input type="number"
                       class="form-control"
                       name="zip"
                       placeholder="Zip Code"
                       required
                       id="zip">
                <label for="zip">Zip Code</label>
            </div>

            <p class="my-4 p-2 bg-dark text-white rounded">
                That's all for now. You'll select your pick-up and drop-off dates next.
            </p>

            <div class="row align-items-right">
                <div class="col btn-large">
                    <button type="submit"
                            class="btn btn-primary w-100">
                        Next Step
                        <i class="fas fa-arrow-right ms-3"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
