{% extends "Base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="text-white py-3 fw-bold">My Account</h3>
        </div>
    </div>
</div>

{% include 'account_nav.html' %}

<!--Content-->
<div class="container-fluid">
    <div class="row mx-3">
        <div class="col-md-10 mx-auto my-3">
            <div class="row">
                <div class="col col-md-5">

                    <h2 class="row display-5 fw-bold border-bottom border-3 pb-2 my-3">Account Information</h2>

                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="form-text text-danger mb-2 fw-bold">
                        {{message}}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}

                    <div class="card card-body d-flex flex-column mb-5">

                        <div class="row align-items-center">
                            <span class="col-auto material-icons-outlined">
                                person
                            </span>
                            <span class="col-auto py-2">
                                {{user.firstname}} {{user.lastname}}
                            </span>
                        </div>

                        <hr class="my-2">

                        <div class="row py-2 align-items-center">
                            <span class="col-auto material-icons-outlined">
                                email
                            </span>
                            <span class="col">
                                {{user.email}}
                            </span>
                        </div>

                        <hr class="my-2">

                        <div class="row py-2 align-items-center">
                            <span class="col-auto material-icons-outlined">
                                phone
                            </span>
                            <span class="col">
                                {{user.phonenumber}}
                            </span>
                        </div>

                        <hr class="my-2">

                        <div class="row py-2 align-items-center">
                            <span class="col-auto material-icons-outlined">
                                place
                            </span>
                            <span class="col">
                                <span class="m-0 row">{{user.address}}</span>
                                <span class="m-0 row">{{user.city}}, {{user.state}} {{user.zip}}</span>
                            </span>
                        </div>

                        <hr class="my-2">

                        <div class="row py-2 align-items-center">
                            <span class="col-auto material-icons-outlined">
                                category
                            </span>
                            <span class="col-auto {% if user.groups == 'admin' %} fw-bold text-primary {% endif %}">{{user.groups}}</span>
                            </p>
                        </div>

                        <h5 class="row col mx-2 mt-3 border-bottom border-2 border-dark ">Account Options</h5>
                        <div class="row ps-3 pb-2">
                            <button type="button"
                                    class="col col-lg-6 btn btn-sm btn-outline-light text-dark text-decoration-none"
                                    data-bs-toggle="modal"
                                    data-bs-target="#ch_info">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="material-icons-outlined me-3">
                                        manage_accounts
                                    </span>
                                    Update Information
                                </div>
                            </button>
                        </div>

                        <div class="row ps-3">
                            <button type="button"
                                    class="col col-lg-6 btn btn-sm btn-outline-light text-dark text-decoration-none d-flex flex-row align-items-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#ch_pwd_modal">
                                <span class="col-auto material-icons-outlined me-3">
                                    https
                                </span>
                                Change my password
                            </button>
                        </div>
                        <div class="row mt-2 ps-3">
                            <button type="button"
                                    class="col col-lg-6 btn btn-sm btn-outline-light text-dark text-decoration-none d-flex flex-row align-items-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#del_acct_modal">
                                <span class="col-auto material-icons-outlined me-3"
                                      class="font-size: 12px;">
                                    delete_forever
                                </span>
                                Delete my account
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-none col d-md-flex flex-column my-auto">
                    <img src="{{ url_for('static', filename='img/account_ils.svg') }}"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!--ch_info modal-->
<div class="modal fade"
     id="ch_info"
     tabindex="-1"
     aria-labelledby="ch_info_Label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex flex-row align-items-center"
                    id="ch_pwd_modalLabel">
                    <span class="material-icons-outlined me-3">
                        manage_accounts
                    </span>
                    Update Account Information
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('account.update_info') }}"
                      method="POST">
                    <input type="hidden"
                           name="csrf_token"
                           value="{{ csrf_token() }}" />

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Name</label>
                            <div class="input-group">
                                <span class="input-group-text">First</span>
                                <input type="text"
                                       name="f_name"
                                       value="{{g.user.firstname}}"
                                       class="form-control"
                                       required>
                                <span class="input-group-text">Last</span>
                                <input type="text"
                                       name="l_name"
                                       value="{{g.user.lastname}}"
                                       class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Email</label>
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   value="{{g.user.email}}"
                                   required>
                            <span class="form-text">Updating your email will change how you login</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Phone Number</label>
                            <input type="tel"
                                   class="form-control"
                                   name="phonenumber"
                                   value="{{g.user.phonenumber}}"
                                   required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Address</label>
                            <input type="text"
                                   name="address"
                                   value="{{g.user.address}}"
                                   class="form-control">
                            <div class="input-group mt-3">
                                <input type="text"
                                       name="city"
                                       value="{{g.user.city}}"
                                       class="form-control"
                                       required>
                                <input type="text"
                                       name="state"
                                       value="{{g.user.state}}"
                                       class="form-control"
                                       required>
                                <input type="text"
                                       name="zip"
                                       value="{{g.user.zip}}"
                                       class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-4 justify-content-between">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-info"
                                type="submit">
                            Save and Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--ch_pwd Modal -->
<div class="modal fade"
     id="ch_pwd_modal"
     tabindex="-1"
     aria-labelledby="ch_pwd_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex flex-row align-items-center"
                    id="ch_pwd_modalLabel">
                    <span class="material-icons-outlined me-3">
                        https
                    </span>
                    Change Password
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('auth.change_password')}}"
                      method="POST">
                    <input type="hidden"
                           name="csrf_token"
                           value="{{ csrf_token() }}" />
                    <label class="form-label fw-bold">Current Password</label>
                    <input type="password"
                           name="current_password"
                           placeholder="••••••••••••••••••"
                           class="form-control mb-3"
                           required>

                    <b>Password Requirements</b>
                    <ul>
                        <li>8 characters length or more</li>
                        <li>1 digit or more</li>
                        <li>1 symbol or more</li>
                        <li>1 uppercase letter or more</li>
                        <li>1 lowercase letter or more</li>
                    </ul>
                    <label class="form-label fw-bold">New Password</label>
                    <input type="password"
                           name="password1"
                           id="password1"
                           placeholder="••••••••••••••••••"
                           required
                           class="form-control mb-3">
                    <label class="form-text">Please verify</label>
                    <input type="password"
                           name="password2"
                           id="password2"
                           placeholder="••••••••••••••••••"
                           required
                           class="form-control">
                    <label class="form-text fw-bold text-danger d-none"
                           id="err_text">Passwords do not match.</label>

                    <div class="d-flex flex-row mt-4 justify-content-between">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-info disabled"
                                type="submit"
                                id="submit_btn">
                            Change and Logout
                        </button>
                        <script>
                            var p1 = document.getElementById('password1');
                            var p2 = document.getElementById('password2');
                            p2.onkeyup = function () {
                                if (p1.value != p2.value) {
                                    document.getElementById('err_text').classList.remove('d-none')
                                    document.getElementById('err_text').classList.remove('disabled')
                                    document.getElementById('submit_btn').classList.add('disabled')
                                }
                                else {
                                    document.getElementById('err_text').classList.add('d-none')
                                    document.getElementById('err_text').classList.add('disabled')
                                    document.getElementById('submit_btn').classList.remove('disabled')
                                }
                            }
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- del_acct Modal -->
<div class="modal fade"
     id="del_acct_modal"
     tabindex="-1"
     aria-labelledby="del_acct_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex flex-row align-items-center"
                    id="del_acct_modalLabel">
                    <span class="material-icons-outlined me-3">
                        delete_forever
                    </span>Delete Account
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if g.user.groups == 'admin' %}
                <h4 class="text-danger">You cannot delete an administrator account.</h4>
                <p>If you think your account has been compromised, please contact your web master</p>
                {% else %}
                <form action="{{url_for('auth.delete_account', userid=user.userid)}}"
                      method="POST">
                    <input type="hidden"
                           name="csrf_token"
                           value="{{ csrf_token() }}" />
                    <h4>Are you sure you want to delete your account?</h4>
                    <p class="my-3 p-3 border border-danger rounded text-center"><b>This cannot be reversed!</b></p>

                    <p>Deleting your account will permanently delete all your data from our records.
                        You'll lose access to your reservations, messages, etc. If you're experiencing
                        technical problems, please call us before deleting your account, we may be able to
                        resolve your problems without deleting your account.
                    </p>

                    <p><b>To delete you account, please type your username and password.</b></p>
                    <p class="text-muted"><small>Your username is:&nbsp;&nbsp;&nbsp;<u>{{g.user.email}}</u></small></p>

                    <label class="form-text">Username</label>
                    <div class="input-group mb-3">
                        <input type="email"
                               class="form-control"
                               name="del_username"
                               id="del_confirmation">
                        <span class="input-group-text">
                            <span class="material-icons-outlined"
                                  id="delete_indicator">
                                close
                            </span>
                        </span>
                    </div>

                    <div class="mb-5">
                        <label class="form-text">Password</label>
                        <input type="password"
                               name="del_password"
                               class="form-control">
                    </div>


                    <div class="d-flex flex-row mt-3 justify-content-between">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-info disabled"
                                type="submit"
                                id="delete_btn">
                            I'm sure, delete my account.
                        </button>

                        <script>
                            var conf = document.getElementById('del_confirmation');

                            conf.onkeyup = function () {
                                if (conf.value === '{{g.user.email}}') {
                                    document.getElementById('delete_btn').classList.remove('disabled');
                                    document.getElementById('delete_indicator').innerHTML = 'check';
                                } else {
                                    document.getElementById('delete_btn').classList.add('disabled');
                                    document.getElementById('delete_indicator').innerHTML = 'close';
                                }
                            }
                        </script>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
