{% extends "Base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container-fluid bg-dark shadow">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="text-white py-3 fw-bold">My Account</h3>
        </div>
    </div>
</div>

<!--Account Nav-->
<div class="container-fluid bg-dark">

    <div class="row">
        <div class="col-md-10 mx-auto my-2">
            <ul class="nav nav-pills"
                id="account_tabs_root">
                <li class="nav-item">
                    <a class="nav-link text-white bg-info"
                       aria-current="page"
                       id="tab_switcher_index"
                       href="{{url_for('account.index')}}">My Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       id="tab_switcher_reservations"
                       href="{{url_for('account.reservations')}}">Reservations</a>
                </li>
                {% if user.groups == "admin" %}
                <li class="nav-item ms-auto">
                    <a class="nav-link text-white d-flex flex-row"
                       href="{{url_for('admin.root')}}">
                        <span class="material-icons-round me-3">
                            admin_panel_settings
                        </span>
                        Manage Site
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row mx-3">
        <div class="col-md-10 mx-auto my-5">

            <!--Account Index-->
            <div class="card p-3 shadow-sm bg-white d-flex flex-column">
                <h4 class="fw-bold">Account Information</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-row align-content-center">
                        <span class="material-icons-round me-3">
                            person
                        </span>
                        <span class="flex-grow-1">
                            {{user.firstname}} {{user.lastname}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="material-icons-round me-3">
                            alternate_email
                        </span>
                        <span class="flex-grow-1">
                            {{user.email}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="material-icons-round me-3">
                            phone
                        </span>
                        <span class="flex-grow-1">
                            {{user.phonenumber}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="material-icons-round me-3">
                            person_pin_circle
                        </span>
                        <span class="flex-grow-1">
                            <div class="d-flex flex-column">
                                <span>{{user.address}}</span>
                                <span>{{user.city}}, {{user.state}} {{user.zip}}
                                </span>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="material-icons-round me-3">
                            group_work
                        </span>
                        <span class="flex-grow-1">
                            {{user.groups}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="material-icons-round me-3">
                            vpn_key
                        </span>
                        <span class="flex-grow-1">
                            <button type="button"
                                    class="btn btn-outline-dark"
                                    data-bs-toggle="modal"
                                    data-bs-target="#ch_pwd_modal">
                                Change Password
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade"
     id="ch_pwd_modal"
     tabindex="-1"
     aria-labelledby="ch_pwd_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="ch_pwd_modalLabel">Change Password</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('auth.change_password', userid=user.userid)}}"
                      method="POST">
                    <input type="password"
                           name="current_password"
                           class="form-control mb-3"
                           placeholder="Current Password">
                    <input type="password"
                           name="password1"
                           class="form-control mb-3"
                           placeholder="New Password">
                    <input type="password"
                           name="password2"
                           class="form-control"
                           placeholder="Verify New Password">

                    <div class="d-flex flex-row mt-3 justify-content-between">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-info"
                                type="submit">
                            Change and Logout
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
