label.radio-icn {
    width: 30%;
    padding: .5rem;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .25s;
}

label.radio-icn img {
    align-self: center;
    flex-grow: 3
}

label.radio-icn input[type="radio"] {
    visibility: collapse;
}

label.radio-icn:hover {
    border: 2px solid silver !important;
}