{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<div class="container-fluid px-0"
     style="min-height: 100vh !important;">

    <div class="row"
         id="container-img">
        <div class="col col-md-8 mx-md-auto">
            <div class="my-5">
                <h1 class="mb-4">About Red Dirt Rentals</h1>
                <p class="fw-bold text-dark">
                    Red Dirt Rentals is a part of the Red Dirt Road Family.
                    Located in Marianna, FL, Red Dirt Road is proud to serve the
                    panhandle and surrounding communities with excellent customer service,
                    in-house certified service, repairs, rentals and much more.
                </p>
                <p class="fw-bold text-dark">
                    If you are interested in
                    purchasing equipment from the top industry brands, like Gravely, Spartan,
                    Mahindra, and Echo, please
                    <a href="https://www.reddirtequipment.com/"
                       class="text-info"
                       target="_blank">
                        visit our website
                    </a>
                    to see all our brands as well as current deals, packages and more.
                </p>
                <p class="fw-bold text-dark">
                    On behalf of the entire Red Dirt Road team, we thank you for you business
                    and look forward to meeting you face to face (or mask to mask, if you'd prefer)!
                </p>
            </div>
            <h3 class="mb-4">Our Brands</h3>
            <div class="row row-cols-3 g-4 mb-5">
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/mahindra.png') }}"
                         class="img-fluid mx-auto">
                </div>
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/kioti.png') }}"
                         class="img-fluid mx-auto">
                </div>
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/Gravely.png') }}"
                         class="img-fluid mx-auto">
                </div>
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/spartan.png') }}"
                         class="img-fluid mx-auto">
                </div>
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/titan.png') }}"
                         class="img-fluid mx-auto">
                </div>
                <div class="col d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/logos/down2earth.png') }}"
                         class="img-fluid mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
