<!--Account Nav-->
{% set route = request.url_rule %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto my-2">
            <ul class="nav nav-pills"
                id="account_tabs_root">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex flex-row {% if '%s'% request.url_rule == '/account/' %}active{% endif %}"
                       aria-current="page"
                       id="tab_switcher_index"
                       href="{{url_for('account.index')}}">
                        <span class="material-icons-outlined me-3">
                            badge
                        </span>My Information
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex flex-row {% if '%s'% request.url_rule == '/account/reservations' %}active{% endif %}"
                       id="tab_switcher_reservations"
                       href="{{url_for('account.reservations')}}">
                        <span class="material-icons-outlined me-3">
                            agriculture
                        </span>Reservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex flex-row {% if '%s'% request.url_rule == '/account/messages' %}active{% endif %}"
                       id="tab_switcher_reservations"
                       href="{{url_for('account.render_messages')}}">
                        <span class="material-icons-outlined me-3">
                            question_answer
                        </span>Messages
                    </a>
                </li>
                {% if g.user.groups == "admin" %}
                <li class="nav-item ms-auto">
                    <a class="nav-link text-white d-flex flex-row"
                       href="{{url_for('admin.root')}}">
                        <span class="material-icons-outlined me-3">
                            admin_panel_settings
                        </span>
                        Manage Site
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
