<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Fonts-->
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Comfortaa:wght@700&display=swap"
          rel="stylesheet">

    <!-- Icons -->
    <!-- Baseline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <!-- Outline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <!-- Round -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <!-- Sharp -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <!-- TwoTone -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <!--jQuery-->
    <script defer
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{url_for('static', filename='global.css')}}">

    <!--Bootstrap JS-->
    <script async
            type="text/javascript"
            src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>

    <script defer
            src="{{url_for('static', filename='global.js')}}"></script>
    <style>
        .dropdown-toggle::after {
            content: none;
        }

    </style>

    {% block head_end %} {% endblock %}

    <title>{% block title %}{% endblock %} - RedDirtRentals</title>
</head>

<body class="bg-light">

    <div class="row mx-0 bg-dark">
        <div class="col-md-10 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="{{url_for('index.root')}}"
                   class="navbar-brand">
                    <img src="{{ url_for('static', filename='img/logo_white.svg') }}">
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#nav_main"
                        aria-controls="nav_main"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="nav_main">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item mx-3">
                            <a class="nav-link fw-bold {%if url_for(request.endpoint, id=0) == '/'%}active{%endif%}"
                               aria-current="page"
                               href="{{ url_for('index.root') }}">Home</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link fw-bold {%if '/rentals/' in url_for(request.endpoint, id=0)%}active{%endif%}"
                               href="{{url_for('Rentals.all_rentals')}}">Rentals</a>
                        </li>
                        <li class="nav-item mx-3 {%if'/account/reservations/' in url_for(request.endpoint, id=0)%}active{%endif%}">
                            <a class="nav-link fw-bold"
                               href="{{url_for('account.reservations', id=None)}}">Reservations</a>
                        </li>
                        <!--Is User Logged In?-->
                        {% if g.user != None %}
                        <li class="nav-item dropdown dropdown-dark ms-lg-auto">
                            <a class="nav-link dropdown-toggle d-flex flex-row align-items-center fw-bold {%if '/account' in url_for(request.endpoint, id=0)%}active{%endif%}"
                               href="#"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <span class="me-2">{{g.user.firstname}}</span>
                                <span class="material-icons-round">
                                    account_circle
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item fw-bold"
                                       href="{{ url_for('account.index') }}">My Account</a></li>
                                {% if g.user.groups == "admin" %}
                                <li><a class="dropdown-item fw-bold"
                                       href="{{ url_for('admin.root') }}">Manage Site</a></li>
                                {% endif %}
                                <li><a class="dropdown-item fw-bold"
                                       href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown dropdown-dark ms-auto me-3">
                            <a class="nav-link dropdown-toggle d-flex flex-row align-items-center fw-bold"
                               href="#"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <span class="me-2 fw-bold">Account</span>
                                <span class="material-icons-round me-3">
                                    account_circle
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item fw-bold"
                                       href="{{ url_for('auth.login') }}">Login</a></li>
                                <li><a class="dropdown-item fw-bold"
                                       href="{{ url_for('auth.register') }}">Register</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    {% block content %} {% endblock %}

    <div class="row mx-0">
        <div class="col-md-10 mx-auto">
            <footer class="p-3">
                <div class="container mt-3 border-top border-dark pt-3">
                    <img src="{{ url_for('static', filename='img/logo_dark.svg') }}"
                         class="img-fluid">
                    <p class="my-2">Copyright &copy; 2021. RedDirt Road Partners LLC. All Rights Reserved.</p>
                    <p class="my-2">Red Dirt Rentals is owned and operated by <a href="https://reddirtequipment.com"
                           target="_blank">Red Dirt Equipment</a>.</p>
                    <p class="mb-2">Designed by <a href="mailto:ccooper@reddirtequipment.com">Colby Cooper</a>.</p>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>
