<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">


    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link async
          href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{url_for('static', filename='global.css')}}">
    <!--Bootstrap JS-->
    <script async
            type="text/javascript"
            src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>

    <!--Icons-->
    <script async
            src="https://kit.fontawesome.com/4c35e1f93c.js"
            crossorigin="anonymous"></script>

    <!--jQuery-->
    <script defer
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script defer
            src="{{url_for('static', filename='global.js')}}"></script>

    {% block head_end %} {% endblock %}

    <title>{% block title %}{% endblock %} - RedDirtRentals</title>
</head>

<body class="bg-light">

    <div class="row bg-dark">
        <div class="col-md-10 mx-auto">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="{{url_for('index.root')}}"
                       class="navbar-brand">
                        <img src="{{ url_for('static', filename='res/logo_white.svg') }}"
                             class="px-3">
                    </a>

                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#nav_main"
                            aria-controls="nav_main"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse"
                         id="nav_main">
                        <ul class="navbar-nav w-100">
                            <li class="nav-item mx-3">
                                <a class="nav-link active"
                                   aria-current="page"
                                   href="{{ url_for('index.root') }}">Home</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link"
                                   href="{{url_for('Rentals.all_rentals')}}">Rentals</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link"
                                   href="#">Reservations</a>
                            </li>
                            {% if g.user != None %}
                            <li class="nav-item dropdown dropdown-dark ms-auto me-3 d-flex flex-row">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <span class="material-icons-round me-3">
                                        account_circle
                                    </span>
                                    Account Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item"
                                           href="{{ url_for('admin.root') }}">Manage Site</a></li>
                                    <li><a class="dropdown-item"
                                           href="{{ url_for('auth.logout') }}">Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown dropdown-dark ms-auto me-3 d-flex flex-row">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <span class="material-icons-round me-3">
                                        account_circle
                                    </span>
                                    Account
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item"
                                           href="{{ url_for('admin.root') }}">Login</a></li>
                                    <li><a class="dropdown-item"
                                           href="{{ url_for('auth.logout') }}">Register</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% block content %} {% endblock %}

    <footer class="p-3">
        <div style="border-top: 2px solid whitesmoke;"></div>
        <div class="container mt-3">
            <img src="{{ url_for('static', filename='res/logo_dark.svg') }}"
                 class="img-fluid">
            <p class="mt-2 mb-2">Copyright &copy; 2021. RedDirt Road Partners LLC. All Rights Reserved.</p>
            <p class="mb-2"><strong>RedDirt Rentals</strong> by <a href="mailto:ccooper@reddirtequipment.com">Colby Cooper</a>.</p>
            <p class="mb-2"><a href="{{ url_for('auth.login') }}">Admin Login</a></p>
        </div>
    </footer>

</body>

</html>
