<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link async
          href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->

    <!--Bootstrap JS-->

    <!--Icons-->
    <script src="https://kit.fontawesome.com/4c35e1f93c.js"
            crossorigin="anonymous"></script>

    <!--jQuery-->
    <script defer
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!--Global Javascript-->
    <script defer
            src="{{ url_for('static', filename='global.js') }}"></script>

    {% block head_end %}{% endblock %}

    <title>{% block title %}{% endblock %} - RedDirtRentals</title>
</head>

<body class=""
      style="min-height: 100vh;">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='res/logo_white.svg') }}"
                 class="px-3">

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse w-100">
                <ul class="navbar-nav w-100">
                    <li class="nav-item mx-3">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{{ url_for('index.root') }}">Home</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link"
                           href="{{url_for('Rentals.all_rentals')}}">Rentals</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link"
                           href="#">Reservations</a>
                    </li>
                    {% if session['status'] == 'AUTHENTICATED' %}
                    <li class="nav-item dropdown dropdown-dark ms-auto me-3">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ session['username'] }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item"
                                   href="{{ url_for('admin.root') }}">Manage Site</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="footer has-background-white py-6">
        <div style="border-top: 2px solid whitesmoke;"></div>
        <div class="is-flex is-flex-direction-column is-flex-wrap-wrap my-3">
            <figure class="image my-3"
                    style="max-width: 300px;">
                <img src="{{ url_for('static', filename='res/logo_dark.svg') }}">
            </figure>
            <div class="content my-3">
                <p class="mb-1">Copyright &copy; 2021. RedDirt Road Partners LLC. All Rights Reserved.</p>
                <p class="mb-1"><strong>RedDirt Rentals</strong> by <a href="mailto:ccooper@reddirtequipment.com">Colby Cooper</a>.</p>
                <p class="mb-1"><a href="{{ url_for('auth.login') }}">Admin Login</a></p>
            </div>
        </div>
    </footer>

</body>

</html>
