{% extends "base.html" %}
<!--Set Page Title-->
{% block title %}Home{% endblock %}
<!--Start Page Content-->
{% block content %}
<div class="container-fluid bg-dark py-4 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="fs-1">
                    Welcome to Red Dirt Rentals
                </h1>

                <p class="fs-6">
                    By <a href="https://reddirtequipment.com/"
                       class="fw-light"
                       target="_blank">Red Dirt Outdoor Equipment</a>.
                </p>

                <!--About-->
                <p class="my-4">
                    <a class="btn btn-outline-danger border-2 py-3 w-100 fw-bold d-flex flex-row justify-content-center"
                       data-bs-toggle="collapse"
                       href="#collapseAbout"
                       role="button"
                       aria-expanded="false"
                       aria-controls="collapseAbout">
                        Read about us
                        <span class="material-icons-outlined ms-3">
                            expand_more
                        </span>
                    </a>
                </p>
                <div class="collapse border border-danger rounded border-2 mb-4"
                     id="collapseAbout">
                    <div class="p-3">
                        <p>
                            Red Dirt Rentals is a part of the Red Dirt Road Family.
                            Located in Marianna, FL, Red Dirt Road is proud to serve the
                            panhandle and surrounding communities with excellent customer service,
                            in-house certified service and repairs and much more.
                        </p>
                        <p>
                            If you are interested in
                            purchasing equipment from the top industry brands, like Gravely, Spartan,
                            Mahindra, and Echo, please
                            <a href="https://www.reddirtequipment.com/"
                               target="_blank">
                                visit our website
                            </a>
                            to see all our brands as well as current deals, packages and more.
                        </p>
                        <p>
                            On behalf of the entire Red Dirt Road family, we thank you for you business
                            and look forward to meeting you in person soon!
                        </p>
                    </div>
                </div>

                <!--Store Pic-->
                <div class="container bg-light p-3 my-3 rounded">
                    <img src="{{url_for('static', filename='res/storefront.jpg')}}"
                         class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid w-100 bg-danger">
    <h1 class="fs-1 text-white text-center p-3 mb-0">
        Our Rentals
    </h1>
</div>

<!--Filters-->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle w-100 py-2"
            style="border-radius: 0px;"
            type="button"
            id="dropdownFilters"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <u>Filters</u>
    </button>
    <ul class="dropdown-menu w-100 shadow"
        aria-labelledby="dropdownFilters">
        <li class="dropdown-item fw-bold">Only Show</li>
        <li><a class="dropdown-item ms-3"
               href="#">Tractors</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">Mowers</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">Power Tools</a></li>
        <li class="dropdown-item fw-bold">Price is less than</li>
        <li><a class="dropdown-item ms-3"
               href="#">$ 150</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">$ 300</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">$ 500</a></li>
        <li class="dropdown-item fw-bold">For this kind of job</li>
        <li><a class="dropdown-item ms-3"
               href="#">Yard Care</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">Tree Clearing/Cleaning</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">Commercial</a></li>
        <li><a class="dropdown-item ms-3"
               href="#">Government</a></li>
        <li><a class="dropdown-item bg-info"
               href="#">All Rentals</a></li>

    </ul>
</div>

<!--Rental Inventory-->
<div class="container mb-5">
    <div class="row">
        <div class="col-md-10 mx-auto my-3">
            <div class="row">
                {% for rental in rentals %}
                {% if rental.is_shown == 1 %}
                <div class="col-md my-3">
                    <div class="card shadow-sm h-100">
                        <img src="{{url_for('static', filename='uploads/'+rental.image_paths[0])}}"
                             class="card-img-top img-fluid">
                        <div class="card-body p-3 d-flex flex-column align-items-stretch">
                            <h5 class="card-title">{{rental.make}}&nbsp;{{rental.model}}</h5>
                            {% if rental.is_available == 1 %}
                            <span class="badge rounded-pill py-2 px-4 shadow-sm bg-success d-flex flex-row align-items-center mt-2 mb-3">
                                <span class="material-icons-outlined me-3">
                                    check
                                </span>
                                <span>Available Now</span>
                            </span>
                            {% endif %}
                            <p><strong>Engine</strong>: {{rental.horsepower}} for {{rental.job_category}}</p>
                            <p><strong>Fuel Type:</strong> {{rental.fuel_type}}
                                {% if rental.implements %}
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item fw-bold">Compatible Implements</li>
                                {% for implement in rental.implements %}
                                <li class="list-group-item d-flex flex-row">
                                    <span class="material-icons-round me-3">
                                        check
                                    </span>
                                    {{implement}}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <p class="mb-1"><strong>Description:</strong></p>
                            <p>{{rental.description}}</p>
                            <p class="mb-1"><strong>Features:</strong></p>
                            <p>{{rental.features}}</p>
                        </div>
                        <div class="card-footer bg-white">
                            <a href="{{url_for('Rentals.details', id=rental.rental_id)}}"
                               class="btn btn-outline-danger border-2 fw-bold d-flex flex-row justify-content-center">
                                <span class="material-icons-round me-3">
                                    read_more
                                </span>
                                <span>Details</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
