{% extends "base.html" %}
<!---->
{% block title %}Login | Admin{% endblock %}
<!---->
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 text-white mx-auto">
            <h3 class="ms-md-3 p-3">Your Account</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <form method="POST"
                  action="{{url_for('auth.verify')}}"
                  class="card my-5 shadow-sm">
                <div class="card-body p-4">
                    <p class="fs-5 fw-bold">Please login to access your account.</p>
                    <div class="container px-0 mb-5">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <div class="alert alert-light border"
                             role="alert">
                            {{message}}
                        </div>
                        {% endfor %} {% else %}
                        {% endif %} {% endwith %}
                    </div>

                    <!--Email-->
                    <div class="input-group mb-4">
                        <span class="input-group-text"
                              id="email">
                            <span class="material-icons-outlined">
                                alternate_email
                            </span>
                        </span>
                        <input type="email"
                               class="form-control"
                               placeholder="Email"
                               aria-label="Email"
                               name="email"
                               required
                               aria-describedby="email">
                    </div>

                    <!--Password-->
                    <div class="input-group mb-5">
                        <span class="input-group-text">
                            <span class="material-icons-round">
                                vpn_key
                            </span>
                        </span>
                        <input type="password"
                               class="form-control password_toggle_field"
                               placeholder="Password"
                               aria-label="Password"
                               name="password"
                               required
                               aria-describedby="username">
                    </div>

                    <button type="submit"
                            class="btn btn-info px-5 py-2 fw-bold w-100">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
