<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Fonts-->
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@700&display=swap"
          rel="stylesheet">

    <!-- Icons -->
    <!-- Baseline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <!-- Outline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <!-- Round -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <!-- Sharp -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <!-- TwoTone -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <!--jQuery-->
    <script defer
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{url_for('static', filename='global.css')}}">

    <!--Bootstrap JS-->
    <script async
            type="text/javascript"
            src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>

    <script defer
            src="{{url_for('static', filename='global.js')}}"></script>

    <title>Login - RedDirtRentals</title>
</head>

<body class="bg-white">
    <div class="container-fluid px-0"
         style="min-height: 100vh !important;">
        <div class="row vh-100 g-0">
            <div class="col-10 mx-auto mx-md-auto col-md-5 my-5">
                <div class="p-5 mt-4">
                    <a href="{{url_for('index.root')}}"
                       class="text-decoration-none">
                        <h4 class="mb-3 text-dark"
                            style="font-family: ethnocentric;">RedDirt Rentals</h4>
                    </a>

                    <form method="POST"
                          action="{{url_for('auth.verify')}}"
                          class="">
                        <input type="hidden"
                               name="csrf_token"
                               value="{{ csrf_token() }}" />
                        <div class="pb-0">
                            <h5 class="mb-4">Login to your account</h5>
                            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                            <div class="form-text text-danger mb-2 fw-bold">
                                {{message}}
                            </div>
                            {% endfor %} {% else %}
                            <div class="form-text text-danger mb-2 fw-bold">
                                &nbsp;
                            </div>
                            {% endif %} {% endwith %}

                            <!--Email-->
                            <div class="input-group mb-4">
                                <span class="input-group-text bg-dark text-white border-dark"
                                      id="email">
                                    <span class="material-icons-outlined">
                                        account_circle
                                    </span>
                                </span>
                                <input type="email"
                                       class="form-control border-dark"
                                       placeholder="Email"
                                       aria-label="Email"
                                       name="email"
                                       required
                                       aria-describedby="email">
                            </div>

                            <!--Password-->
                            <div class="input-group mb-4">
                                <span class="input-group-text bg-dark text-white border-dark">
                                    <span class="material-icons-round">
                                        https
                                    </span>
                                </span>
                                <input type="password"
                                       class="form-control password_toggle_field border-dark"
                                       placeholder="Password"
                                       aria-label="Password"
                                       name="password"
                                       required
                                       aria-describedby="username">
                            </div>
                            <div class="d-flex flex-row justify-content-between">

                                <div class="d-flex flex-column mt-3">
                                    <a class="fw-bold"
                                       href="{{url_for('auth.register')}}">Register</a>
                                    <a class="fw-bold"
                                       href="{{url_for('auth.reset_password')}}">Password Help</a>
                                </div>

                                <button type="submit"
                                        class="btn btn-outline-info border border-2 border-info px-5 py-2 fw-bold align-self-end">
                                    Login
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="col-7 d-none d-md-block border-start border-2">
                <img src="{{ url_for('static', filename='img/storefront.jpg') }}"
                     class="img-fluid vh-100">
            </div>
        </div>
    </div>
</body>

</html>
