{% extends "base.html" %}
<!---->
{% block title %}Login | Admin{% endblock %}
<!---->
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 text-white mx-auto">
            <h3 class="ms-md-3 p-3">Your Account</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <form method="POST"
                  action="{{url_for('auth.verify')}}"
                  class="card my-5 shadow-sm">
                <div class="card-body px-4 pt-4 pb-0">
                    <p class="fs-5 fw-bold mb-4">Please login to access your account.</p>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="form-text text-danger mb-2 fw-bold">
                        {{message}}
                    </div>
                    {% endfor %} {% else %}
                    <div class="form-text text-danger mb-2 fw-bold">
                        &nbsp;
                    </div>
                    {% endif %} {% endwith %}

                    <!--Email-->
                    <div class="input-group mb-4">
                        <span class="input-group-text"
                              id="email">
                            <span class="material-icons-outlined">
                                alternate_email
                            </span>
                        </span>
                        <input type="email"
                               class="form-control"
                               placeholder="Email"
                               aria-label="Email"
                               name="email"
                               required
                               aria-describedby="email">
                    </div>

                    <!--Password-->
                    <div class="input-group mb-4">
                        <span class="input-group-text">
                            <span class="material-icons-round">
                                vpn_key
                            </span>
                        </span>
                        <input type="password"
                               class="form-control password_toggle_field"
                               placeholder="Password"
                               aria-label="Password"
                               name="password"
                               required
                               aria-describedby="username">
                    </div>

                    <button type="submit"
                            class="btn btn-outline-danger border border-2 border-danger px-5 py-2 fw-bold ">
                        Login
                    </button>
                </div>
                <div class="card-footer pt-4 pb-4 px-4 bg-white border-white">
                    <div class="row">
                        <a class="card-link col text-start"
                           href="{{url_for('auth.register')}}">Register</a>
                        <a class="card-link col text-end mb-5"
                           href="#">Password Help</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
