<!doctype html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">

      <!--Favicon-->
      <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">

      <!--Fonts-->
      <link rel="preconnect"
            href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@700&display=swap"
            rel="stylesheet">

      <!-- Icons -->
      <!-- Baseline -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
            rel="stylesheet">

      <!-- Outline -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
            rel="stylesheet">

      <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
            rel="stylesheet">

      <!-- Sharp -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
            rel="stylesheet">

      <!-- TwoTone -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
            rel="stylesheet">

      <!--jQuery-->
      <script defer
              src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous"></script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet"
            href="{{url_for('static', filename='global.css')}}">

      <!--Bootstrap JS-->
      <script async
              type="text/javascript"
              src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>

      <script defer
              src="{{url_for('static', filename='global.js')}}"></script>
      <style>
            body {
                  min-height: 100%;
                  background: linear-gradient(0deg, rgba(43, 45, 66, 0.6), rgba(43, 45, 66, 0.6)), url('../../static/img/storefront.jpg');
                  background-size: cover;
            }

      </style>

      <title>Register - RedDirtRentals</title>
</head>

<body>

      <div class="container"
           style="min-height: 100vh !important;">
            <div class="row my-5">
                  <div class="col-md-6 mx-auto my-5">
                        <div class="card card-body shadow-lg border-dark">
                              <div class="my-3">
                                    <div class="row border-bottom border-3 mb-3">
                                          <span class="col-auto material-icons-outlined fw-bold"
                                                style="font-size: 36px;">
                                                https
                                          </span>
                                          <h2 class="col">Reset your password</h2>
                                    </div>
                                    <div class="row mb-3 ">
                                          <h5 class="mb-1">Set a new password for: <code>{{user.email}}</code>,</h5>
                                          <p class="mb-0">
                                                Let's get you back into your account. Please choose a new password.
                                                <b>Do not navigate away from or refresh this page</b> before setting a new password, your token will not work.
                                          </p>
                                    </div>
                                    <div class="row mb-3">
                                          <div class="col mx-2 bg-light rounded p-3">
                                                <b>Password Requirements</b>
                                                <ul class="">
                                                      <li>8 characters length or more</li>
                                                      <li>1 digit or more</li>
                                                      <li>1 symbol or more</li>
                                                      <li>1 uppercase letter or more</li>
                                                      <li>1 lowercase letter or more</li>
                                                </ul>
                                                <i>Don't reuse passwords!</i>
                                          </div>
                                    </div>
                                    <form class="row"
                                          action=""
                                          method="POST">
                                          <input type="hidden"
                                                 name="csrf_token"
                                                 value="{{ csrf_token() }}">
                                          <!--Password-->
                                          <div class="input-group">
                                                <span class="input-group-text bg-dark border-dark text-white">
                                                      <span class="material-icons-round">
                                                            https
                                                      </span>
                                                </span>
                                                <input type="password"
                                                       class="form-control password_toggle_field border-dark"
                                                       placeholder="Password"
                                                       aria-label="Password"
                                                       name="password"
                                                       required
                                                       aria-describedby="username">
                                                <button class="input-group-text bg-dark border-dark text-white"
                                                        type="button"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        title="Show/Hide Password">
                                                      <span class="material-icons-outlined password_toggle_indicator "
                                                            style="cursor:pointer;"
                                                            onclick="toggle_password_visibility()">
                                                            visibility_off
                                                      </span>
                                                </button>
                                          </div>
                                          <div class="form-text mb-3">
                                                You'll only type this once, make sure it's right.
                                          </div>
                              </div>
                              <a href="{{ url_for('index.root') }}"
                                 class="btn btn-primary btn-large w-50 fw-bold text-white">Home</a>
                        </div>
                  </div>
            </div>
      </div>
      </div>
</body>

</html>
