<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Fonts-->
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Comfortaa:wght@700&display=swap"
          rel="stylesheet">

    <!-- Icons -->
    <!-- Baseline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <!-- Outline -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <!-- Round -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <!-- Sharp -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <!-- TwoTone -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <!--jQuery-->
    <script defer
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{url_for('static', filename='global.css')}}">

    <!--Bootstrap JS-->
    <script async
            type="text/javascript"
            src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>

    <script defer
            src="{{url_for('static', filename='global.js')}}"></script>
    <style>
        .dropdown-toggle::after {
            content: none;
        }

    </style>

    {% block head_end %} {% endblock %}

    <title>{% block title %}{% endblock %} - RedDirtRentals</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-5">

                <a href="{{url_for('index.root')}}"
                   class="text-decoration-none">
                    <h6 class="mb-3 text-dark"
                        style="font-family: ethnocentric;">RedDirt Rentals</h6>
                </a>

                <div class="card p-4 bg-white">
                    <h6 class="fs-5 mb-5 fw-bold">Let's get you setup. We just have a few questions.</h6>
                    <form action="{{url_for('auth.enroll')}}"
                          method="POST">

                        <input type="hidden"
                               name="csrf_token"
                               value="{{ csrf_token() }}">

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                        {% endwith %}

                        <!--Full Name-->
                        <div class="input-group mb-5">
                            <span class="input-group-text">
                                <span class="material-icons-outlined">
                                    badge
                                </span>
                            </span>
                            <input type="text"
                                   name="firstname"
                                   aria-label="First name"
                                   placeholder="First Name"
                                   class="form-control"
                                   required>
                            <input type="text"
                                   name="lastname"
                                   aria-label="Last name"
                                   placeholder="Last Name"
                                   class="form-control"
                                   required>
                        </div>

                        <!--Street Address1-->
                        <div class="input-group mb-3">
                            <span class="input-group-text"
                                  id="address1">
                                <span class="material-icons-round">
                                    place
                                </span>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Street Address"
                                   aria-label="Address Address"
                                   name="address1"
                                   required>
                        </div>

                        <!--City/State/Zip-->
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <span class="material-icons-round">
                                    location_city
                                </span>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="City"
                                   aria-label="City"
                                   name="city"
                                   required>

                            <input type="text"
                                   class="form-control"
                                   placeholder="State"
                                   aria-label="State"
                                   name="state"
                                   required>

                            <input type="text"
                                   class="form-control"
                                   placeholder="Zip Code"
                                   aria-label="Zip Code"
                                   name="zip"
                                   required>
                        </div>

                        <!--Phone-->
                        <div class="input-group mb-5">
                            <span class="input-group-text"
                                  id="phone">
                                <span class="material-icons-round">
                                    phone
                                </span>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Phone Number"
                                   aria-label="Phone Number"
                                   name="phone"
                                   required>
                        </div>

                        <!--Email-->
                        <div class="input-group">
                            <span class="input-group-text"
                                  id="email">
                                <span class="material-icons-outlined">
                                    mail
                                </span>
                            </span>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   aria-label="Email"
                                   name="email"
                                   required
                                   aria-describedby="email">
                        </div>
                        <div class="form-text mb-3">This will be your username to login.</div>

                        <b>Password Requirements</b>
                        <ul>
                            <li>8 characters length or more</li>
                            <li>1 digit or more</li>
                            <li>1 symbol or more</li>
                            <li>1 uppercase letter or more</li>
                            <li>1 lowercase letter or more</li>
                        </ul>

                        <!--Password-->
                        <div class="input-group">
                            <span class="input-group-text">
                                <span class="material-icons-round">
                                    https
                                </span>
                            </span>
                            <input type="password"
                                   class="form-control password_toggle_field"
                                   placeholder="Password"
                                   aria-label="Password"
                                   name="password"
                                   required
                                   aria-describedby="username">
                            <button class="input-group-text"
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Show/Hide Password">
                                <span class="material-icons-outlined password_toggle_indicator"
                                      style="cursor:pointer;"
                                      onclick="toggle_password_visibility()">
                                    visibility_off
                                </span>
                            </button>
                        </div>
                        <div class="form-text mb-3">
                            You'll only type this once, make sure it's right.
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-end">
                            <a href="{{url_for('auth.login')}}"
                               class="fw-bold">Login</a>
                            <button type="submit"
                                    id="enroll_btn"
                                    class="btn btn-outline-info border-info border-2 px-5 py-2 d-flex flex-row">
                                <span class="material-icons-outlined me-3">
                                    check_circle_outline
                                </span>
                                Submit and Register
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
