{% extends "base.html" %}
<!---->
{% block title %}Update | Admin{% endblock %}
<!---->
{% block content %}
<style>
    .form-label {
        font-weight: bold;
    }

</style>
<div class="container-fluid bg-dark">
    <div class="row py-3">
        <div class="col-md-10 mx-auto d-flex flex-row align-items-center">
            <h3 class="flex-grow-1 text-white fw-bold">Update Rental</h3>

            <a href="{{ url_for('admin.inventory') }}"
               class="btn btn-outline-light btn-small d-flex flex-row align-items-center">
                <span class="material-icons-outlined me-3">
                    cancel
                </span>
                Cancel
            </a>
        </div>
    </div>
</div>

<!--Breadcrumb-->
<div class="container-fluid bg-white border-bottom">
    <div class="row">
        <div class="col-md-10 mx-auto justify-content-center py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/account">Account</a></li>
                    <li class="breadcrumb-item"><a href="/admin">Manage Site</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{rental.make}} {{rental.model}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!--Server Msgs-->
<div class="container">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="notification is-danger m3">
        <p>{{ message }}</p>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<div class="container">

    <div class="row my-4">
        <div class="col-md-8 mx-auto">

            <form method="POST"
                  action="{{ url_for('admin.update', id=rental.rental_id) }}"
                  enctype="multipart/form-data"
                  class="p-3">

                <input type="hidden"
                       name="csrf_token"
                       value="{{ csrf_token() }}">

                <!--Make-->
                <div class="mb-3">
                    <label class="form-label"
                           for="make">Make</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="make"
                           name="make"
                           value="{{rental.make}}"
                           required
                           placeholder="Make">
                </div>

                <!--Model-->
                <div class="mb-3">
                    <label class="form-label"
                           for="model">Model</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="model"
                           name="model"
                           required
                           value="{{rental.model}}"
                           placeholder="Model">
                </div>

                <!--Vehicle Type-->
                <div class="mb-3">
                    <label class="form-label">Vehicle Category</label>
                    <select class="form-select border-dark"
                            name="category"
                            aria-label="Select Vehicle Category">
                        <option value="Tractor"
                                {%if
                                rental.category=='Tractor'
                                %}selected{%endif%}>Tractor</option>
                        <option value="Mower"
                                {%if
                                rental.category=='Mower'
                                %}selected{%endif%}>Mower</option>
                        <option value="Power Tool"
                                {%if
                                rental.category=='Power Tool'
                                %}selected{%endif%}>Power Tool</option>
                    </select>
                </div>

                <!--Fuel Type-->
                <div class="mb-3">
                    <label class="form-label">Fuel Type</label>
                    <select class="form-select border-dark"
                            name="fuel_type">
                        <option value="Gasoline"
                                {%if
                                rental.fuel_type=='Gasoline'
                                %}selected{%endif%}>Gasoline</option>
                        <option value="Diesel"
                                {%if
                                rental.fuel_type=='Diesel'
                                %}selected{%endif%}>Diesel</option>
                        <option value="Hybrid"
                                {%if
                                rental.fuel_type=='Hybrid'
                                %}selected{%endif%}>Hybrid</option>
                        <option value="Electric"
                                {%if
                                rental.fuel_type=='Electric'
                                %}selected{%endif%}>Electric</option>
                        <option value="Other"
                                {%if
                                rental.fuel_type=='Other'
                                %}selected{%endif%}>Other</option>
                        <option value="NA"
                                {%if
                                rental.fuel_type=='NA'
                                %}selected{%endif%}>NA</option>
                    </select>
                </div>

                <!--Job Type-->
                <div class="mb-3">
                    <label class="form-label">Job Category</label>
                    <select class="form-select border-dark"
                            name="job_category"
                            aria-label="Select Job Category">
                        <option value="Residential"
                                {%if
                                rental.job_category=='Residential'
                                %}selected{%endif%}>Residential</option>
                        <option value="Commercial"
                                {%if
                                rental.job_category=='Commercial'
                                %}selected{%endif%}>Commercial</option>
                        <option value="Agriculture"
                                {%if
                                rental.job_category=='Commercial'
                                %}selected{%endif%}>Agriculture</option>
                        <option value="Agriculture"
                                {%if
                                rental.job_category=='Government'
                                %}selected{%endif%}>Government</option>
                    </select>
                </div>

                <!--Drive Type-->
                <div class="mb-3">
                    <label class="form-label">Drive Type</label>
                    <select class="form-select border-dark"
                            name="drive"
                            aria-label="Select Drive Type">
                        <option value="4WD"
                                {%if
                                rental.drive=='4WD'
                                %}selected{%endif%}>4WD</option>
                        <option value="2WD"
                                {%if
                                rental.drive=='2WD'
                                %}selected{%endif%}>2WD</option>
                        <option value="Other"
                                {%if
                                rental.drive=='Other'
                                %}selected{%endif%}>Other</option>
                        <option value="NA"
                                {%if
                                rental.drive=='NA'
                                %}selected{%endif%}>NA</option>
                    </select>
                </div>

                <!--Engine-->
                <div class="mb-3">
                    <label class="form-label"
                           for="horse_power">Engine Description</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="horse_power"
                           name="horse_power"
                           value="{{rental.horse_power}}"
                           required
                           placeholder="Engine Description">
                </div>

                <!--Deck Size-->
                <div class="mb-3">
                    <label class="form-label"
                           for="deck_size">Deck Size</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="deck_size"
                           name="deck_size"
                           value="{{rental.deck_size}}"
                           required
                           placeholder="Deck Size">
                </div>

                <!--Stock #-->
                <div class="mb-3">
                    <label class="form-label"
                           for="stock">Unit Stock</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="stock"
                           name="stock"
                           value="{{rental.stock}}"
                           placeholder="Unit Stock">
                </div>

                <!--Hourly Rate-->
                <div class="mb-3">
                    <label class="form-label "
                           for="
                           rate">Hourly Rate</label>
                    <input type="number"
                           class="form-control border-dark"
                           id="rate"
                           name="rate"
                           required
                           value="{{'%.2f'%rental.rate[0]}}"
                           placeholder="Hourly Rate">
                </div>

                <!--Price Range-->
                <div class="mb-3">
                    <label class="form-text">Price Range</label>
                    <select class="form-select border-dark"
                            name="price_range"
                            aria-label="Select Drive Type">
                        <option value="Competitive"
                                {%if
                                rental.price_range=='Competitive'
                                %}selected{%endif%}>Competitive</option>
                        <option value="Affordable"
                                {%if
                                rental.price_range=='Affordable'
                                %}selected{%endif%}>Affordable</option>
                        <option value="Average"
                                {%if
                                rental.price_range=='Average'
                                %}selected{%endif%}>Average</option>
                        <option value="Costly"
                                {%if
                                rental.price_range=='Costly'
                                %}selected{%endif%}>Costly</option>
                    </select>
                </div>

                <!--Rented By-->
                <div class="mb-3">
                    <label class="form-label"
                           for="rented_by">Currently Rented By</label>
                    <input type="text"
                           class="form-control border-dark"
                           id="rented_by"
                           step="0.01"
                           name="rented_by"
                           value="{{rental.rented_by}}">
                    <div class="form-text">
                        This field <strong>will not </strong>be seen by customers.
                    </div>
                </div>

                <!--Date Available-->
                <div class="mb-3">
                    <input type="date"
                           class="form-control border-dark"
                           id="available_on"
                           name="available_on"
                           value="{{rental.available_on}}"
                           placeholder="Date Available">
                    <label for="available_on">Date Available</label>
                    <div class="form-text">
                        This field <strong>will not </strong>be seen by customers.
                    </div>
                </div>

                <!--Available Now-->
                <div class="mb-3">
                    <label class="form-label">Is this unit available for rent now?</label>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               {%if
                               rental.is_available==1%}checked{%endif%}
                               name="is_available"
                               id="is_available_yes">
                        <label class="form-check-label"
                               for="is_available_yes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input"
                               type="radio"
                               {%if
                               rental.is_available==0%}checked{%endif%}
                               name="is_available"
                               id="is_available_no">
                        <label class="is_available_no"
                               for="is_available_2">
                            No
                        </label>
                    </div>
                </div>
                <!--Queue-->
                <div class="mb-3">
                    <label class="form-label"
                           for="rent_queue">Unit Queue</label>
                    <textarea class="form-control border-dark"
                              id="rent_queue"
                              name="rent_queue"
                              rows=3
                              style="height: 100px">
                        {%- if rental.rent_queue -%}
                        {{rental.rent_queue}}
                        {%- endif -%}
                    </textarea>
                    <div class="form-text row rows-cols-2">
                        <p class="col">Enter names separated by a comma.</p>
                        <p class="col">This field <strong>will not </strong>be seen by customers.</p>
                    </div>
                </div>

                <!--Image-->
                <div class="mb-3">
                    <label for="files"
                           class="form-label">Unit Images</label>
                    <input class="form-control border-dark"
                           type="file"
                           id="files"
                           name="files"
                           multiple>
                    {% if rental.image_paths %}
                    <div class="d-flex flex-row flex-wrap py-2">
                        {% for path in rental.image_paths %}
                        <img src="{{url_for('static', filename='uploads/'+path)}}"
                             class="img-thumbnail">
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!--Shown to Customers-->
                <div class="mb-3">
                    <label class="form-label">Should customers be able to view this unit?</label>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               {%if
                               rental.is_shown==0%}checked{%endif%}
                               name="is_shown"
                               id="is_shown_yes"
                               checked>
                        <label class="form-check-label"
                               for="is_shown_yes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input"
                               type="radio"
                               {%if
                               rental.is_shown==0%}checked{%endif%}
                               name="is_shown"
                               id="is_shown_no">
                        <label class="is_shown_no"
                               for="is_shown_2">
                            No
                        </label>
                    </div>
                </div>

                <!--Features-->
                <div class="mb-3">
                    <label class="form-label"
                           for="features">Features</label>
                    <textarea class="form-control border-dark"
                              placeholder="Unit Queue"
                              id="features"
                              name="features"
                              rows=3
                              style="height: 100px">
                        {%- if rental.features -%}
                        {{rental.features}}
                        {%- endif -%}</textarea>
                </div>

                <!--Description-->
                <div class="mb-3">
                    <label class="form-label"
                           for="description">Description</label>
                    <textarea class="form-control border-dark"
                              placeholder="Unit Queue"
                              id="description"
                              name="description"
                              rows=3
                              placeholder="Description"
                              style="height: 100px">
                        {%- if rental.description -%}
                        {{rental.description}}
                        {%- endif -%}</textarea>
                </div>

                <!--Implements-->
                <div class="mb-3"
                     id="implements">
                    <label class="form-label">Compatible Implements</label>
                    <div class="input-group">
                        <input class="form-control border-dark ia_input"
                               type="text">
                        <button class="btn btn-dark text-white ia_submit"
                                type="button">
                            <span class="material-icons-outlined">
                                arrow_downward
                            </span>
                        </button>
                    </div>

                    <div class="shadow-sm card mt-2">
                        <p class="text-muted rounded bg-white p-2 mb-0">
                            Added implements will show here
                        </p>
                        <ul class="list-group list-group-flush ia_target">
                            {% if rental.implements|length < 0
                              %}
                              <li
                              class="list-group-item">{{rental.implements}}</li>
                                {%
                                endif
                                %}
                        </ul>
                    </div>

                    <a href="#implements"
                       class="btn btn-outline-secondary mt-3 mb-5 ia_clear">
                        Clear List
                    </a>
                </div>

                <button type="submit"
                        class="btn btn-primary py-3 w-100 d-flex flex-row align-items-center justify-content-center fw-bold">
                    <span class="material-icons-outlined me-3">
                        save
                    </span>
                    Update Rental Unit
                </button>

                <div class="row mt-5">
                    <div class="col-auto">
                        <a href="{{ url_for('admin.delete', id=rental.rental_id) }}"
                           class="text-decoration-none">
                            <div class="d-flex flex-row align-items-center">
                                <span class="material-icons-outlined me-3">delete</span>
                                Delete Unit
                            </div>
                        </a>
                    </div>
                    <p class="m-0 pt-3"><u><b class="text-danger">Caution:</b> This action cannot be reversed. Proceed with caution</u></p>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
