{% extends "base.html" %}
<!---->
{% block title %}Update | Admin{% endblock %}
<!---->
{% block content %}
<div class="container is-max-desktop">
    <h1 class="title m-0 mt-5 p-3">Rental Details
        <a href="{{ url_for('admin.inventory') }}"
           class="button is-info is-outlined is-pulled-right">
            <i class="far fa-times-circle mr-3"></i> Discard Changes
        </a>
    </h1>

    <div class="p-3 my-3 mb-5">

        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="notification is-danger m3">
                <button class="delete"></button>
                <p>{{ message }}</p>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

        {{row}}

        <form method="POST"
              action="{{ url_for('admin.update', id=rental.rental_id[0]) }}"
              class="p-5"
              enctype="multipart/form-data">
            <p class="subtitle content mt-3 is-size-4 is-family-title">
                <strong>Updating Rental ID: {{ rental.rental_id[0] }}</strong>
            </p>

            <!--Make/Model-->
            <div class="columns my-0">
                <label class="label column py-0">Make</label>
                <label class="label column py-0">Model</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <div class="field">
                        <input class="input"
                               type="text"
                               value="{{ rental.make }}"
                               required
                               name="make"
                               placeholder="Make">
                    </div>
                </div>
                <div class="field column pt-0">
                    <div class="field">
                        <input class="input"
                               type="text"
                               value="{{ rental.model }}"
                               name="model"
                               required
                               placeholder="Model">
                    </div>
                </div>
            </div>

            <!--Category/Fuel Type-->
            <div class="columns my-0">
                <label class="label column py-0">Fuel Type</label>
                <label class="label column py-0">Category</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <div class="select is-fullwidth">
                        <select name="fuel_type"
                                required>
                            <option {%
                                    if
                                    rental.fuel_type=="Gasoline"
                                    %}
                                    selected
                                    {%
                                    endif
                                    %}>Gasoline</option>
                            <option {%
                                    if
                                    rental.fuel_type=="Desil"
                                    %}
                                    selected
                                    {%
                                    endif
                                    %}>Deasil</option>
                            <option {%
                                    if
                                    rental.fuel_type=="Hybrid"
                                    %}
                                    selected
                                    {%
                                    endif
                                    %}>Hybrid</option>
                            <option {%
                                    if
                                    rental.fuel_type=="Other"
                                    %}
                                    selected
                                    {%
                                    endif
                                    %}>Other</option>
                        </select>
                    </div>
                </div>
                <div class="field column pt-0">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="category"
                                    required>
                                <option {%
                                        if
                                        rental.category=="Tractor"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Tractor</option>
                                <option {%
                                        if
                                        rental.category=="Mower"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Mower</option>
                                <option {%
                                        if
                                        rental.category=="Power Tool"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Power Tool</option>
                                <option {%
                                        if
                                        rental.category=="Add on"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Add on</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Job Category/Drive Type-->
            <div class="columns my-0">
                <label class="label column py-0 pb-3">Job Category</label>
                <label class="label column py-0 pb-3">Drive Type</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0 pb-5">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="job_category"
                                    required>
                                <option {%
                                        if
                                        rental.job_category=="Small Jobs"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Small Jobs</option>
                                <option {%
                                        if
                                        rental.job_category=="Medium Jobs"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Medium Jobs</option>
                                <option {%
                                        if
                                        rental.job_category=="Large Jobs"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Large Jobs</option>
                                <option {%
                                        if
                                        rental.job_category=="Heavy Duty Jobs"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Heavy Duty Jobs</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field column pt-0 pb-5">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="drive">
                                <option {%
                                        if
                                        rental.drive=="4WD"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>4WD</option>
                                <option {%
                                        if
                                        rental.drive=="2WD"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>2WD</option>
                                <option {%
                                        if
                                        rental.drive=="Other"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Other</option>
                                <option {%
                                        if
                                        rental.drive=="NA"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>NA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Horsepower/Deck Size-->
            <div class="columns my-0">
                <label class="label column py-0">Horsepower</label>
                <label class="label column py-0">Deck Size</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <input class="input"
                           type="number"
                           step="0.1"
                           name="horsepower"
                           value="{{ rental.horsepower }}"
                           placeholder="Horsepower">
                </div>
                <div class="field column pt-0">
                    <input class="input"
                           type="text"
                           name="deck_size"
                           value="{{ rental.decksize }}"
                           placeholder="Deck Size">
                </div>
            </div>

            <!--Engine Size/Stock-->
            <div class="columns my-0">
                <label class="label column py-0">Stock</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <input class="input"
                           type="text"
                           name="stock"
                           value="{{ rental.stock }}"
                           placeholder="Stock">
                </div>
            </div>

            <!--Pricing-->
            <div class="columns my-0">
                <label class="label column py-0">Hourly Rate</label>
                <label class="label column py-0">Price Category</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <input class="input"
                           required
                           type="number"
                           value="{{ '%0.2f'|format(rental.rate|float) }}"
                           step="0.01"
                           name="rate"
                           placeholder="Hourly Rate">
                </div>
                <div class="field column pt-0">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select name="price_range"
                                    required>
                                <option {%
                                        if
                                        rental.price_range=="Cheap"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Cheap</option>
                                <option {%
                                        if
                                        rental.price_range=="Affordable"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Affordable</option>
                                <option {%
                                        if
                                        rental.price_range=="Normal"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Normal</option>
                                <option {%
                                        if
                                        rental.price_range=="Costly"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Costly</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Currently Rented/Available Date/Currently Available-->
            <div class="columns my-0">
                <label class="label column py-0">Currently Rented By</label>
                <label class="label column py-0">Date Available</label>
                <label class="label column py-0">Currently Available</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <input type="text"
                           class="input"
                           value="{{ rental.rented_by }}"
                           name="rented_by_name"
                           placeholder="John Doe">
                    <div class="wrapper is-size-7">
                        <i class="fas fa-eye-slash mr-3"></i>This is an internal memo and <strong>will not </strong>be seen by customers.</p>
                    </div>
                </div>
                <div class="field column pt-0">
                    <input type="date"
                           class="input"
                           value="{{ rental.available_on }}"
                           name="date_available">
                    <div class="wrapper is-size-7">
                        <i class="fas fa-eye-slash mr-3"></i>This is an internal memo and <strong>will not </strong>be seen by customers.</p>
                    </div>
                </div>
                <div class="field column pt-0">
                    <div class="control ">
                        <div class="select is-fullwidth">
                            <select name="is_currently_available"
                                    required>
                                <option {%if
                                        rental.is_available=="0"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Yes</option>
                                <option {%
                                        if
                                        rental.is_available=="1"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Rent Queue-->
            <div class="columns my-0">
                <label class="label column py-0 pb-3">Rent Queue</label>
            </div>
            <div class="columns my-0">
                <div class="field column pt-0">
                    <textarea class="textarea"
                              name="queue"
                              rows=3
                              placeholder="Johnny Appleseed, Jane Doe, etc.">{% if rental.rent_queue != "None" %}{{ rental.rent_queue }}{% endif %}</textarea>
                    <p class="help">
                        <i class="fas fa-info-circle mr-3"></i>Enter names seperated by a comma.
                    </p>
                    <p class="help">
                        <i class="fas fa-eye-slash mr-3"></i>This is an internal memo and <strong>will not </strong>be seen by customers.
                    </p>
                </div>
            </div>

            <!--Is Hidden/Img Picker-->
            <div class=" columns my-0 ">
                <label class="label column py-0">Shown to Customers?</label>
                <label class="label column py-0 ">Rental Image</label>
            </div>
            <div class="columns my-0 ">
                <div class="field column pt-0">
                    <div class="control ">
                        <div class="select is-fullwidth">
                            <select name="is_customer_facing"
                                    required>
                                <option {%
                                        if
                                        rental.is_visible=="0"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>Yes</option>
                                <option {%
                                        if
                                        rental.is_available=="1"
                                        %}
                                        selected
                                        {%
                                        endif
                                        %}>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field column pt-0 ">
                    <div class="file">
                        <label class="file-label ">
                            <input class="file-input"
                                   type="file"
                                   name="rental_image">
                            <span class="file-cta ">
                                <span class="file-icon ">
                                    <i class="fas fa-upload "></i>
                                </span>
                                <span class="file-label ">
                                    Choose an image...
                                </span>
                            </span>
                        </label>
                    </div>
                    <a href="{{images[0]}}"
                       target="_blank"
                       class="is-link">{{images[0]}}</a>
                </div>
            </div>

            <!--Features-->
            <div class="columns my-0 ">
                <label class="label column py-0 pb-3">Rental Features/Implements</label>
            </div>
            <div class="columns my-0 ">
                <div class="field column pt-0 ">
                    <textarea class="textarea "
                              rows=3
                              placeholder="feature1, feature2, feature3, etc. "
                              name="features ">
                            {{rental.description}}</textarea>
                    <p class="help is-dark "><i class="fas fa-info-circle mr-2 "></i>Enter features seperated by a comma.</p>
                </div>
            </div>

            <!--Description-->
            <div class="columns my-0 ">
                <label class="label column py-0 pb-3 ">Rental Description</label>
            </div>
            <div class="columns my-0 ">
                <div class="field column pt-0 ">
                    <textarea class="textarea "
                              rows=3
                              placeholder="Description"
                              name="description">
                              {{rental.features}}</textarea>
                </div>
            </div>

            <div class="my-5"
                 style="border-top: 2px solid whitesmoke; "></div>

            <div class="columns my-0 ">
                <div class="column is-flex is-flex-direction-row is-justify-content-flex-end">
                    <div class="control is-fullwidth  ">
                        <div class="dropdown is-up is-hoverable">
                            <div class="dropdown-trigger">
                                <a href="{{ url_for('admin.delete', id=rental.rental_id[0]) }}"
                                   class="button is-dark is-outlined mr-5"
                                   aria-haspopup="true"
                                   aria-controls="dropdown-warning">
                                    <i class="far fa-trash-alt mr-3"></i>Permanently Delete
                                </a>
                            </div>
                            <div class="dropdown-menu"
                                 id="dropdown-warning"
                                 role="menu">
                                <div class="dropdown-content has-background-warning">
                                    <div class="dropdown-item">
                                        <p><i class="fas fa-exclamation-triangle mr-3"></i>
                                            This action <strong>cannot be reversed</strong>. Proceed with caution.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                            class="button is-info is-outlined ml-5">
                        <i class="fas fa-save mr-3 "></i>Save Changes
                    </button>
                </div>
            </div>
    </div>

    </form>

</div>

{% endblock %}
