{% extends "base.html" %}
<!---->
{% block title %}Update | Admin{% endblock %}
<!---->
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row py-3">
        <div class="col-md-10 mx-auto d-flex flex-row align-items-center">
            <h3 class="flex-grow-1 text-white fw-bold">Update Rental</h3>

            <a href="{{ url_for('admin.inventory') }}"
               class="btn btn-outline-light btn-small d-flex flex-row align-items-center">
                <span class="material-icons-round me-3">
                    cancel
                </span>
                Cancel
            </a>

        </div>
    </div>
</div>

<!--Flashes-->
<div class="container">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="notification is-danger m3">
        <button class="delete"></button>
        <p>{{ message }}</p>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<div class="container">

    <div class="row my-4">
        <div class="col-md-8 mx-auto">

            <form method="POST"
                  action="{{ url_for('admin.update', id=rental.rental_id) }}"
                  enctype="multipart/form-data"
                  class="p-3">

                <h5 class="mb-3 fw-bold">Unit Details</h5>
                <!--Make-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="make"
                           name="make"
                           value="{{rental.make}}"
                           required
                           placeholder="Make">
                    <label for="make">Make</label>
                </div>

                <!--Model-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="model"
                           name="model"
                           value="{{rental.model}}"
                           required
                           placeholder="Model">
                    <label for="model">Model</label>
                </div>

                <!--Vehicle Category-->
                <select class="form-select py-3 mb-3"
                        name="category"
                        aria-label="Select Vehicle Category">
                    <option {%if
                            rental.fuel_type=='Gasoline'
                            %}selected{%endif%}>Gasoline</option>
                    <option {%if
                            rental.fuel_type=='Diesel'
                            %}selected{%endif%}>Diesel</option>
                    <option {%if
                            rental.fuel_type=='Hybrid'
                            %}selected{%endif%}>Hybrid</option>
                    <option {%if
                            rental.fuel_type=='Other'
                            %}selected{%endif%}>Other</option>
                </select>

                <!--Job Category-->
                <select class="form-select py-3 mb-3"
                        name="job_category"
                        aria-label="Select Job Category">
                    <option {%if
                            rental.category=='Tractor'
                            %}selected{%endif%}>Tractor</option>
                    <option {%if
                            rental.category=='Mower'
                            %}selected{%endif%}>Mower</option>
                    <option {%if
                            rental.category=='Power Tool'
                            %}selected{%endif%}>Power Tool</option>
                    <option {%if
                            rental.category=='Add on'
                            %}selected{%endif%}>Add on</option>
                </select>

                <!--Job Category-->
                <select class="form-select py-3 mb-3"
                        name="drive"
                        aria-label="Select Drive Type">
                    <option {%if
                            rental.job_category=='Small Jobs'
                            %}selected{%endif%}>Small Jobs</option>
                    <option {%if
                            rental.job_category=='Medium Jobs'
                            %}selected{%endif%}>Medium Jobs</option>
                    <option {%if
                            rental.job_category=='Large Jobs'
                            %}selected{%endif%}>Large Jobs</option>
                    <option {%if
                            rental.job_category=='Heavy Duty Jobs'
                            %}selected{%endif%}>Heavy Duty Jobs</option>
                </select>

                <!--Engine-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="horse_power"
                           name="horse_power"
                           value="{{rental.horse_power}}"
                           required
                           placeholder="Engine Description">
                    <label for="horse_power">Engine Description</label>
                </div>

                <!--Deck Size-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="deck_size"
                           name="deck_size"
                           value="{{rental.deck_size}}"
                           required
                           placeholder="Deck Size">
                    <label for="deck_size">Deck Size</label>
                </div>

                <!--Stock #-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="stock"
                           name="stock"
                           value="{{rental.stock}}"
                           required
                           placeholder="Unit Stock #">
                    <label for="stock">Unit Stock #</label>
                </div>

                <!--Hourly Rate-->
                <div class="form-floating mb-3">
                    <input type="number"
                           class="form-control"
                           id="rate"
                           name="rate"
                           value="{{'%0.2f'%rental.rate}}"
                           required
                           placeholder="Hourly Rate">
                    <label for="rate">Hourly Rate</label>
                </div>

                <!--Price Range-->
                <select class="form-select py-3 mb-3"
                        name="price_range"
                        aria-label="Select Drive Type">
                    <option {%if
                            rental.price_range=='Cheap'
                            %}selected{%endif%}>Cheap</option>
                    <option {%if
                            rental.price_range=='Affordable'
                            %}selected{%endif%}>Affordable</option>
                    <option {%if
                            rental.price_range=='Normal'
                            %}selected{%endif%}>Normal</option>
                    <option {%if
                            rental.price_range=='Costly'
                            %}selected{%endif%}>Costly</option>
                </select>

                <!--Available Date-->
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="rented_by"
                           name="rented_by"
                           value="{{rental.rented_by}}"
                           required
                           placeholder="Currently Rented By">
                    <label for="rented_by">Currently Rented By</label>
                    <div class="form-text">
                        <i class="fas fa-eye-slash mr-3"></i>
                        This field <strong>will not </strong>be seen by customers.
                    </div>
                </div>

                <!--Rented By-->
                <div class="form-floating mb-3">
                    <input type="date"
                           class="form-control"
                           id="available_on"
                           name="available_on"
                           value="{{rental.available_on}}"
                           required
                           placeholder="Date Available">
                    <label for="available_on">Date Available</label>
                    <div class="form-text">
                        <i class="fas fa-eye-slash mr-3"></i>
                        This field <strong>will not </strong>be seen by customers.
                    </div>
                </div>

                <!--Available Now-->
                <p class="mb-2">Is this unit available for rent now?</p>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="is_available"
                           id="is_available_yes">
                    <label class="form-check-label"
                           for="is_available_yes">
                        Yes
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="radio"
                           name="is_available"
                           id="is_available_no"
                           checked>
                    <label class="is_available_no"
                           for="is_available_2">
                        No
                    </label>
                </div>

                <!--Queue-->
                <div class="form-floating mb-3">
                    <textarea class="form-control"
                              placeholder="Unit Queue"
                              id="rent_queue"
                              name="rent_queue"
                              rows=3
                              placeholder=""
                              style="height: 100px">{{rental.rent_queue}}</textarea>
                    <label for="rent_queue">Unit Queue</label>
                    <div class="form-text">
                        <p class="mb-1"><i class="fas fa-info-circle me-2"></i>Enter names separated by a comma.</p>
                        <p><i class="fas fa-eye-slash me-2"></i>This field <strong>will not </strong>be seen by customers.</p>
                    </div>
                </div>

                <!--Image-->
                <div class="mb-3">
                    <label for="files"
                           class="form-label">Unit Images</label>
                    <input class="form-control"
                           type="file"
                           id="files"
                           name="files"
                           multiple>
                </div>

                <div class="d-flex flex-row flex-wrap mb-3">
                    {% for path in rental.image_paths %}
                    <div class="card p-3 shadow-sm">
                        <img src="{{ url_for('static', filename='uploads/'+path) }}"
                             class="img-fluid">
                    </div>
                    {% endfor %}
                </div>

                <!--Shown to Customers-->
                <p class="mb-2">Should customers be able to view this unit?</p>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="is_shown"
                           id="is_shown_yes"
                           checked>
                    <label class="form-check-label"
                           for="is_shown_yes">
                        Yes
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="radio"
                           name="is_shown"
                           id="is_shown_no">
                    <label class="is_shown_no"
                           for="is_shown_2">
                        No
                    </label>
                </div>

                <!--Features-->
                <div class="form-floating mb-3">
                    <textarea class="form-control"
                              placeholder="Unit Queue"
                              id="features"
                              name="features"
                              rows=3
                              placeholder="Feature 1, Feature 2, Feature3"
                              style="height: 100px">{{rental.features}}</textarea>
                    <label for="features">Unit Features</label>
                </div>

                <!--Description-->
                <div class="form-floating mb-3">
                    <textarea class="form-control"
                              placeholder="Unit Queue"
                              id="description"
                              name="description"
                              rows=3
                              placeholder="Description"
                              style="height: 100px">{{rental.description}}</textarea>
                    <label for="description">Unit Description</label>
                </div>

                <!--Implements-->
                <div class="mb-5"
                     id="implements">
                    <div class="form-floating mb-3 d-flex flex-row">
                        <input class="form-control flex-grow-1 ia_input"
                               type="text"
                               placeholder="Compatible Implements">
                        <label for="implement_input">Compatible Implements</label>
                        <button class="btn btn-outline-secondary ml-1 ia_submit"
                                type="button">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>
                    <div class="shadow-sm card">
                        <p class="text-muted rounded bg-white p-2 mb-0">
                            Added implements will show here
                        </p>
                        <ul class="list-group list-group-flush ia_target">
                        </ul>
                    </div>

                    <a href="#implements"
                       class="btn btn-outline-secondary mt-3 ia_clear">
                        Clear List
                    </a>
                </div>

                <button type="submit"
                        class="btn btn-primary py-3 w-100">
                    <i class="fas fa-save me-2"></i>
                    Add Unit to Inventory
                </button>


            </form>
        </div>
    </div>
</div>

{% endblock %}
