{% extends "base.html" %}
<!---->
{% block title %}Admin | Inventory{% endblock %}
<!---->
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="text-white py-3 fw-bold">Manage Site</h3>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="container">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <div class="alert alert-light">
                    <p>{{ message }}</p>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
    </div>
</div>

<!--Tab Selector-->
<div class="container-fluid p-2 bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <ul class="nav nav-pills"
                id="tab_root">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active bg-info text-white d-flex flex-row"
                       data-bs-toggle="dropdown"
                       id="inventory_active_elem"
                       role="button"
                       aria-expanded="false">
                        Inventory
                        <span class="material-icons-sharp ms-3">
                            expand_more
                        </span>
                    </a>
                    <ul class="dropdown-menu shadow-sm w-100">
                        <li>
                            <a class="dropdown-item"
                               id="inventory_tab_selector"
                               href="{{url_for('admin.inventory')}}">Manage</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for('admin.new') }}">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       href="{{url_for('admin.reservations') }}"
                       id="reservations_tab_selector">
                        Reservations
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-white border-bottom">
    <div class="row">
        <div class="col-md-10 mx-auto justify-content-center py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/account">Account</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">Manage Site</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid p-3 mb-3"
     id="inventory_tab_content">
    <div class="row">
        <div class="col-md-8 mx-auto">

            {% for rental in rentals %}

            <div class="card border-0 rounded-0 shadow-sm my-3"
                 id="inventory-panel-{{ rental.rental_id }}">

                <!--Card Header-->
                <div class="card-header bg-white d-flex flex-row p-3 ">
                    <div class="container">
                        <h5 class="card-title fw-bold">
                            {{ rental.make }} {{ rental.model }}
                        </h5>
                        <p class="card-subtitle ff-primary text-muted">{{rental.category}}-{{rental.stock}}</p>
                    </div>

                    <a class="btn btn-outline-dark d-flex flex-column align-items-center p-2 mx-1 "
                       href="{{ url_for( 'admin.details', id=rental.rental_id) }} ">
                        <span class="material-icons-round">
                            edit_note
                        </span>
                        Manage
                    </a>
                    <a class="btn btn-outline-dark d-flex flex-column align-items-center p-2 mx-1"
                       data-bs-toggle="collapse"
                       href="#collapse_rental_{{rental.rental_id}}"
                       aria-expanded="false"
                       aria-controls="collapse_rental_{{rental.rental_id}}">
                        <span class="material-icons-round">
                            expand_more
                        </span>
                        Expand
                    </a>
                </div>

                <div class="collapse card-body"
                     id="collapse_rental_{{rental.rental_id}}">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ID:</strong>&nbsp;{{ rental.rental_id }}</li>
                        <li class="list-group-item"><strong>Category: &nbsp;</strong> {{ rental.category }}</li>
                        <li class="list-group-item"><strong>Stock: &nbsp;</strong> {{ rental.stock }}</li>
                        <li class="list-group-item"><strong>Fuel Type: &nbsp;</strong> {{ rental.fuel_type }}</li>
                        <li class="list-group-item"><strong>Horsepower: &nbsp;</strong> {{ rental.horse_power }}</li>
                        <li class="list-group-item"><strong>Implements: &nbsp;</strong> {{ rental.implements }} </li>
                        <li class="list-group-item"><strong>Deck Size: &nbsp;</strong> {{ rental.deck_size }}</li>
                        <li class="list-group-item"><strong>Drive Type: &nbsp;</strong> {{ rental.drive }}</li>
                        <li class="list-group-item"><strong>Rate: &nbsp;</strong> ${{ '%0.2f'%rental.rate[0] }}</li>
                        <li class="list-group-item"><strong>Images: &nbsp;</strong>
                            {% if rental.image_paths != 'None' %}
                            {% for path in rental.image_paths %}
                            <a href="{{url_for('static', filename='uploads/'+path)}}"
                               target="_blank">{{path}}</a>
                            {% endfor %}
                            {% else %}
                            <span>None</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Job Category: &nbsp;</strong> {{ rental.job_category }}</li>
                        <li class="list-group-item"><strong>Price Range: &nbsp;</strong> {{ rental.price_range }}</li>
                        <li class="list-group-item"><strong>Available for Rent: &nbsp;</strong>
                            {% if rental.is_available == 1 %}
                            Yes <i class="fas fa-check ml-3"></i>
                            {% else %}
                            No <i class="fas fa-times ml-3"></i>
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Available On: &nbsp;</strong> {{ rental.available_on }}</li>
                        <li class="list-group-item"><strong>Rented By: &nbsp;</strong> {{ rental.rented_by }}</li>
                        <li class="list-group-item"><strong>Rent Queue: &nbsp;</strong> {{ rental.rent_queue }}</li>
                        <li class="list-group-item"><strong>Customer Viewable: &nbsp;</strong>
                            {% if rental.is_shown == 1 %}
                            Yes <i class="fas fa-check ml-3"></i>
                            {% else %}
                            No <i class="fas fa-times ml-3"></i>
                            {% endif %}
                        </li>
                    </ul>

                </div>

            </div>

            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
