{% extends "base.html" %}
<!---->
{% block title %}Admin | Inventory{% endblock %}
<!---->
{% block content %}
<div class="container is-fluid my-5">
    <div class="container is-max-desktop">
        <div class="p-5 has-background-light">
            <h1 class="title is-family-secondary">Administration Dashboard</h1>
        </div>

        {{rental}}

        <div class="container my-5">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="notification is-danger is-outlined m3">
                <button class="delete"></button>
                <p>{{ message }}</p>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

        <div class="tabs">
            <ul>
                <li class="tab-item is-active"><a id="inventory_tab">Rental Inventory</a></li>
                <li class="tab-item "><a id="reservations_tab">Reservations</a></li>
            </ul>
            <a href="{{ url_for('admin.new') }}"
               class="button is-info is-outlined">
                <i class="fas fa-plus mr-3"></i>New
            </a>
        </div>

        <div id="inventory_tab_view"
             class="">

            <!--Search Form-->
            <div class="is-flex is-flex-direction-column mb-3">
                <form action=""
                      method="">
                    <div class="field is-fullwidth">
                        <p class="control has-icons-left">
                            <input class="input is-dark"
                                   type="text"
                                   name="inventory_query "
                                   placeholder="Search ">
                            <span class="icon is-small is-left ">
                                <i class="fas fa-search "></i>
                            </span>
                        </p>
                    </div>
                </form>
            </div>

            <!--Collapse/Show All-->
            <div class="is-flex is-flex-direction-row is-justify-content-flex-end pb-5">
                <a id="collapse_all_inventory"
                   class="is-link has-text-link mx-3">Collapse All</a>
                <a id="show_all_inventory"
                   class="is-link has-text-link mx-3">Show All</a>
            </div>

            {% for rental in rentals %}

            <nav class="panel"
                 style="box-shadow: none;"
                 id="inventory-panel-{{ rental.rental_id }}">

                <!--Panel Header-->
                <div class="panel-heading is-flex is-flex-direction-row"
                     style="border-radius: 4px;">
                    <p class="is-flex-grow-5 is-family-secondary expand-toggle is-size-4 is-clickable">
                        {{ rental.make }} {{ rental.model }}
                    </p>
                    <a href="{{ url_for( 'admin.details', id=rental.rental_id) }} "
                       class="button is-white is-small mx-2">
                        <i class="fas fa-cog mr-3 "></i>Manage
                    </a>
                    <button class="button is-white is-small expand-toggle mx-3">
                        <i class="fas fa-chevron-down "></i>
                    </button>
                </div>
                <div class="shade is-hidden"
                     style=" border: 2px solid #ededed; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <p class="panel-block "><strong>ID: &nbsp;</strong>{{ rental.rental_id }}</p>
                    <p class="panel-block "><strong>Category: &nbsp;</strong> {{ rental.category }}</p>
                    <p class="panel-block "><strong>Fuel Type: &nbsp;</strong> {{ rental.fuel_type }}</p>
                    <p class="panel-block "><strong>Horsepower: &nbsp;</strong> {{ rental.horse_power }}</p>
                    <p class="panel-block "><strong>Implements: &nbsp;</strong> {{ rental.implements }} </p>
                    <p class="panel-block "><strong>Deck Size: &nbsp;</strong> {{ rental.deck_size }}</p>
                    <p class="panel-block "><strong>Stock: &nbsp;</strong> {{ rental.stock }}</p>
                    <p class="panel-block "><strong>Drive Type: &nbsp;</strong> {{ rental.drive }}</p>
                    <p class="panel-block "><strong>Rate: &nbsp;</strong> ${{ '%0.2f'%rental.rate[0] }}</p>
                    <p class="panel-block "><strong>Images: &nbsp;</strong>
                        {% if rental.image_paths != 'None' %}
                        {% for path in rental.image_paths %}
                        <a href="{{url_for('static', filename='uploads/'+path)}}"
                           class="is-link"
                           target="_blank">{{path}}</a>
                        {% endfor %}
                        {% else %}
                        None
                        {% endif %}
                    </p>
                    <p class="panel-block "><strong>Job Category: &nbsp;</strong> {{ rental.job_category }}</p>
                    <p class="panel-block "><strong>Price Range: &nbsp;</strong> {{ rental.price_range }}</p>
                    <p class="panel-block "><strong>Available for Rent: &nbsp;</strong>
                        {% if rental.is_available == 1 %}
                        Yes <i class="fas fa-check ml-3"></i>
                        {% else %}
                        No <i class="fas fa-times ml-3"></i>
                        {% endif %}
                    </p>
                    <p class="panel-block "><strong>Available On: &nbsp;</strong> {{ rental.available_on }}</p>
                    <p class="panel-block "><strong>Rented By: &nbsp;</strong> {{ rental.rented_by }}</p>
                    <p class="panel-block "><strong>Rent Queue: &nbsp;</strong> {{ rental.rent_queue }}</p>
                    <p class="panel-block "><strong>Customer Viewable: &nbsp;</strong>
                        {% if rental.is_shown == 1 %}
                        Yes <i class="fas fa-check ml-3"></i>
                        {% else %}
                        No <i class="fas fa-times ml-3"></i>
                        {% endif %}
                    </p>
                </div>
            </nav>

            {% endfor %}
        </div>

        <div id="reservations_tab_view"
             class="is-hidden ">
            <h2 class="subtitle">Reservations</h2>

            {% for reservation in reservations %}

            {%set cust_id = reservation[2]%}
            {% for customer in customers %}
            {% if cust_id == customer[0] %}
            {% set cust = customer %}
            <div class="card">
                <h1>{{cust[1]}} {{cust[2]}}</h1>
                
            </div>
            {%endif%}
            {% endfor %}


            {%endfor%}
        </div>

    </div>
</div>
{% endblock %}
