{% extends "base.html" %}
<!---->
{% block title %}New | Admin{% endblock %}
<!---->
{% block content %}
<div class="container is-fluid my-5">
    <div class="container is-max-desktop">

        <h1 class="title is-family-title has-background-light p-5"
            style="border-bottom: 2px solid whitesmoke;">
            New Rental
            <a href="{{ url_for('admin.inventory') }}"
               class="button is-info is-outlined is-pulled-right">
                <i class="far fa-times-circle mr-3"></i> Cancel
            </a>
        </h1>

        <!--Flashes-->
        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="notification is-danger m3">
                <button class="delete"></button>
                <p>{{ message }}</p>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

        <form method="POST"
              action="{{ url_for('admin.create') }}"
              enctype="multipart/form-data"
              class="p-5">

            <!--Make/Model-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Make</label>
                    <div class="field">
                        <div class="field">
                            <input class="input is-dark is-dark"
                                   type="text"
                                   name="make"
                                   placeholder="Make">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Model</label>
                    <div class="field">
                        <div class="field">
                            <input class="input is-dark is-dark"
                                   type="text"
                                   name="model"
                                   placeholder="Model">
                        </div>
                    </div>
                </div>
            </div>


            <!--Category/Fuel Type-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Fuel Type</label>
                    <div class="field">
                        <div class="select is-fullwidth is-dark">
                            <select name="fuel_type">
                                <option>Gasoline</option>
                                <option>Diesel</option>
                                <option>Hybrid</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Category</label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth is-dark">
                                <select name="category">
                                    <option>Tractor</option>
                                    <option>Mower</option>
                                    <option>Power Tool</option>
                                    <option>Add on</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Job Category/Drive Type-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Job Category</label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth is-dark">
                                <select name="job_category">
                                    <option>Small Jobs</option>
                                    <option>Medium Jobs</option>
                                    <option>Large Jobs</option>
                                    <option>Heavy Duty Jobs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Drive Type</label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth is-dark">
                                <select name="drive">
                                    <option>4WD</option>
                                    <option>2WD</option>
                                    <option>Other</option>
                                    <option>NA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Horsepower/Deck Size-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label py-0">Horsepower</label>
                    <div class="field">
                        <input class="input is-dark is-dark"
                               type="number"
                               step="0.1"
                               name="horsepower"
                               placeholder="Horsepower">
                    </div>
                </div>
                <div class="column">
                    <label class="label">Deck Size</label>
                    <div class="field">
                        <input class="input is-dark is-dark"
                               type="text"
                               name="deck_size"
                               placeholder="Deck Size">
                    </div>
                </div>
            </div>

            <!--Stock-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Stock</label>
                    <div class="field">
                        <input class="input is-dark"
                               type="text"
                               name="stock"
                               placeholder="Stock">
                    </div>
                </div>
            </div>

            <!--Pricing-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Hourly Rate</label>
                    <div class="field">
                        <input class="input is-dark"
                               type="number"
                               step="0.01"
                               name="rate"
                               placeholder="Hourly Rate">
                    </div>
                </div>
                <div class="column">
                    <label class="label">Price Category</label>
                    <div class="field">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth is-dark">
                                <select name="price_range">
                                    <option>Cheap</option>
                                    <option>Affordable</option>
                                    <option>Normal</option>
                                    <option>Costly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Currently Rented/Available Date/Currently Available-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Currently Rented By</label>
                    <div class="field">
                        <input type="text"
                               class="input is-dark"
                               name="rented_by_name"
                               placeholder="John Doe">
                        <div class="wrapper is-size-7">
                            <i class="fas fa-eye-slash mr-3"></i>This field <strong>will not </strong>be seen by customers.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Date Available</label>
                    <div class="field">
                        <input type="date"
                               class="input is-dark"
                               name="date_available">
                        <div class="wrapper is-size-7">
                            <i class="fas fa-eye-slash mr-3">
                            </i>This field <strong>will not </strong>be seen by customers.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Currently Available</label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth is-dark">
                                <select name="is_currently_available"
                                        required>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Rent Queue-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Rental Queue</label>
                    <div class="field">
                        <textarea class="textarea is-dark"
                                  name="queue"
                                  rows=3
                                  placeholder="Johnny Appleseed, Jane Doe, etc."></textarea>
                        <p class="help">
                            <i class="fas fa-info-circle mr-3"></i>Enter names separated by a comma.
                        </p>
                        <p class="help">
                            <i class="fas fa-eye-slash mr-3"></i>This field <strong>will not </strong>be seen by customers.
                        </p>
                    </div>
                </div>
            </div>

            <!--Is Hidden/Img Picker-->
            <div class="columns my-0 ">
                <div class="column">
                    <label class="label">Shown to Customers?</label>
                    <div class="field">
                        <div class="control ">
                            <div class="select is-fullwidth is-dark">
                                <select name="is_customer_facing ">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-two-fifths">
                    <label class="label">Rental Image</label>
                    <div class="field">
                        <div class="file">
                            <label class="file-label">
                                <input class="button is-dark is-outlined"
                                       type="file"
                                       name="files">
                            </label>
                        </div>
                        <div id="selected_files"
                             class="p-1">
                        </div>
                    </div>
                </div>
            </div>

            <!--Features-->
            <div class="columns my-0 ">
                <div class="column">
                    <label class="label">Features, Options, Implements, etc.</label>
                    <div class="field">
                        <textarea class="textarea is-dark"
                                  rows=3
                                  placeholder="feature1, feature2, feature3, etc. "
                                  name="features "></textarea>
                        <p class="help is-dark ">
                            <i class="fas fa-info-circle mr-2 "></i>Enter features separated by a comma.
                        </p>
                    </div>
                </div>
            </div>

            <!--Description-->
            <div class="columns my-0">
                <div class="column">
                    <label class="label">Rental Description</label>
                    <div class="field">
                        <textarea class="textarea is-dark"
                                  rows=3
                                  placeholder="Description"
                                  name="description"></textarea>
                    </div>
                </div>
            </div>

            <!--Implements-->
            <label class="label">Compatible Implements</label>
            <div class="columns my-0">
                <div class="column">
                    <div class="is-flex is-flex-direction-row">
                        <input class="input is-dark is-flex-grow-1"
                               type="text"
                               placeholder="Enter Implement Name Here"
                               id="implement_adder">
                        <button class="button is-white has-text-dark"
                                id="implement_adder_submit"
                                type="button">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <a class="is-link" id="implement_clear">Clear List</a>
                </div>
                <div class="column">
                    <div class="select is-multiple is-fullwidth is-dark">
                        <select multiple
                                id="implement_target"
                                name="implements">
                        </select>
                    </div>
                </div>
            </div>

            <div class="my-5"
                 style="border-top: 2px solid whitesmoke;"></div>

            <div class="columns my-0 ">
                <div class="column">
                    <a id="developer_option"
                       class="button is-small is-white has-text-white">
                        <i class="fas fa-server fa-1x"></i>
                    </a>
                </div>
                <div class="column">
                    <div class="control is-flex is-fullwidth is-justify-content-flex-end ">
                        <button type="submit"
                                class="button is-info px-6">
                            <i class="fas fa-save mr-5"></i>Add Rental
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
<div class="modal"
     id="fast_add_inventory">
    <div class="modal-background "></div>
    <div class="modal-content has-background-light p-3 ">
        {% if session.get('IS_ADMIN') == 'TRUE' %}
        <h1 class="subtitle has-family-title ">SQL Entry</h1>
        <form action="{{ url_for('admin.fast_add') }} "
              method="POST"
              enctype="multipart/form-data">
            <textarea class="textarea mb-3 is-family-code "
                      name="sql_query"
                      rows=10>
        </textarea>
            <button type="submit "
                    class="button is-success is-outlined is-pulled-right ">
                <i class="fas fa-play mr-3 "></i> Run
            </button>
        </form>
        {% else %}
        <h1 class="title has-text-danger has-text-centered p-5 ">You are not authorized to use this function.</h1>
        <p class="has-text-centered is-text-italic">This event has been logged</p>

        <p class="has-text-centered ">If you believe you got this message in error, please contact your web admin.</p>
        {% endif %}
    </div>
    <button class="modal-close is-large "
            aria-label="close "></button>

</div>
{% endblock %}
