{% extends "base.html" %}
<!---->
{% block title %}Admin | Reservations{% endblock %}
<!---->
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="text-white py-3 fw-bold">Manage Site</h3>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="container">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <div class="alert alert-light">
                    <p>{{ message }}</p>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
    </div>
</div>

<!--Tab Selector-->
<div class="container-fluid p-2 bg-dark shadow-sm">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <ul class="nav nav-pills"
                id="tab_root">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white d-flex flex-row"
                       data-bs-toggle="dropdown"
                       id="inventory_active_elem"
                       role="button"
                       aria-expanded="false">
                        Inventory
                        <span class="material-icons-outlined ms-3">
                            expand_more
                        </span>
                    </a>
                    <ul class="dropdown-menu shadow-sm w-100">
                        <li>
                            <a class="dropdown-item"
                               id="inventory_tab_selector"
                               href="{{url_for('admin.inventory') }}">Manage</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for('admin.new') }}">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white bg-info active"
                       href="{{url_for('admin.reservations') }}"
                       id="reservations_tab_selector">
                        Reservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       href="{{url_for('admin.customers') }}"
                       id="reservations_tab_selector">
                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       href="{{url_for('admin.schedule') }}"
                       id="reservations_tab_selector">
                        Schedule
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Breadcrumb-->
<div class="container-fluid bg-white border-bottom">
    <div class="row">
        <div class="col-md-10 mx-auto justify-content-center py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/account">Account</a></li>
                    <li class="breadcrumb-item"><a href="/admin">Manage Site</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">Reservations</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!--Content-->
<div class="container-fluid p-3 mb-3"
     id="inventory_tab_content">
    <div class="row">
        <div class="col-md-8 mx-auto mt-2">

            <h2 class="border-bottom border-3">Customer Reservations</h2>

            {% if reservations %}
            {% for reservation in reservations %}
            <div class="card my-4 rounded-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% set customer = customers['%s' % reservation[3]] %}
                            <h4>{{reservation[1]}}</h4>
                        </div>
                        <div class="col">
                            <p class="rounded bg-success text-white fw-bold text-center">{{reservation[1]}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col"><b>Reservation for</b>: {{customer.firstname}} {{customer.lastname}}</p>
                        <p class="col"><b>Preferred Dates</b>: {{reservation[4]}}&nbsp;&nbsp;<b>to</b>&nbsp;&nbsp;{{reservation[5]}}
                    </div>
                    <div class="row col">
                        <p>Status: <span class="badge bg-info">{{reservation[10]}}</span></p>
                    </div>
                </div>
                <div class="card-footer border-0 bg-white pb-3 pt-0 text-end">
                    <a href="{{ url_for('admin.reservation_details', id=reservation[0]) }}"
                       class="d-block w-100 btn btn-danger px-5">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <span class="material-icons-outlined me-3">
                                read_more
                            </span>
                            Reservation Details
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            {%else%}
        </div>
    </div>
    <div class="card rounded-0 my-4">
        <h3>There are not any reservations to review</h3>
    </div>
    {%endif%}
</div>

{% endblock %}



<!-- TODO: Move to own page, adjust reservations index to show list of conf_nos-->
