{% extends "base.html" %}
{% block title %}Admin | Inventory{% endblock %}
{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="text-white py-3 fw-bold">Manage Site</h3>
        </div>
    </div>
</div>

<!--Server Messages-->
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="container">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <div class="alert alert-light">
                    <p>{{ message }}</p>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
    </div>
</div>

<!--Tab Selector-->
<div class="container-fluid p-2 bg-dark">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <ul class="nav nav-pills"
                id="tab_root">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white d-flex flex-row"
                       data-bs-toggle="dropdown"
                       id="inventory_active_elem"
                       role="button"
                       aria-expanded="false">
                        Inventory
                        <span class="material-icons-sharp ms-3">
                            expand_more
                        </span>
                    </a>
                    <ul class="dropdown-menu shadow-sm w-100">
                        <li>
                            <a class="dropdown-item"
                               id="inventory_tab_selector"
                               href="{{url_for('admin.inventory')}}">Manage</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for('admin.new') }}">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       href="{{url_for('admin.reservations') }}"
                       id="reservations_tab_selector">
                        Reservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       href="{{url_for('admin.customers') }}"
                       id="reservations_tab_selector">
                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active"
                       href="{{url_for('admin.customers') }}"
                       id="reservations_tab_selector">
                        Schedule
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Breadcrumb-->
<div class="container-fluid bg-white border-bottom">
    <div class="row">
        <div class="col-md-10 mx-auto justify-content-center py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/account">Account</a></li>
                    <li class="breadcrumb-item"><a href="/admin">Manage Site</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">Rental Schedule</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid p-3 my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row col my-3">
                <h2 class="border-bottom border-3">Reservation Schedule</h2>
            </div>
            <div id="calendar"
                 class="p-3 rounded border bg-white w-100"></div>
        </div>
    </div>
</div>

<div class="modal"
     id="event_modal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="event_title">Reservation Details</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>Customer Name: </b><span id="event_name"></span></p>
                <p><b>Start Date: </b><span id="event_start"></span></p>
                <p><b>End Date: </b><span id="event_end"></span></p>
                <p><b>Reservation Details: </b><a href=""
                       id="event_details">click here</a></p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary fw-bold"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true,
            eventClick: function (info) {
                console.log(info.event)
                var myModal = new bootstrap.Modal(document.getElementById('event_modal'))
                var d = info.event.start.getDate()
                var m = info.event.start.getMonth()
                var y = info.event.start.getFullYear()
                document.getElementById('event_name').innerHTML = info.event.title
                document.getElementById('event_start').innerHTML = m + '/' + d + '/' + y
                var d = info.event.end.getDate()
                var m = info.event.end.getMonth()
                var y = info.event.end.getFullYear()
                document.getElementById('event_end').innerHTML = m + '/' + d + '/' + y
                document.getElementById('event_details').href = '/admin/reservations/' + info.event.id
                myModal.show()
            },
            events: [
                {% for e in events %}
                {
                id: '{{e.reservation_id}}',
                start: '{{e.start_date}}',
                end: '{{e.end_date}}',
                title: '{{e.customer.firstname}} {{e.customer.lastname}}'
            }
                {% endfor %}
            ],
        });
    calendar.render();
    });
</script>
{% endblock %}
