{% extends "base.html" %}
{%block title %}{{rental.make}}&nbsp;{{rental.model}}{% endblock %}
{% block content %}
<div class="container-fluid bg-white border-bottom">
    <div class="row">
        <div class="col-md-10 mx-auto ps-md-5 justify-content-center py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/rentals">Rentals</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{rental.make}} {{rental.model}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row my-4">
        <div class="col-md-8 mx-auto">

            <div class="card bg-white p-3">
                {% for path in rental.image_paths %}
                <img src="{{url_for('static', filename='uploads/'+path)}}"
                     class="img-fluid">
                {% endfor %}

                <h1 class="mt-3 bg-dark text-white p-3">
                    {{rental.make}} {{rental.model}}
                </h1>

                <p class="fs-3"><u>Rental Details</u></p>

                <table class="table">
                    <tr>
                        <td class="fw-bold">Make</td>
                        <td>{{rental.make}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Model</td>
                        <td>{{rental.model}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Stock</td>
                        <td>{{rental.stock}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Vehicle Type</td>
                        <td>{{rental.category}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Horsepower / Engine</td>
                        <td>{{rental.horse_power}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Recommended Job Size</td>
                        <td>{{rental.job_category}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Deck Size <span class="is-size-7">(if applicable)</td>
                        <td>{{rental.deck_size}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Drive Type</td>
                        <td>{{rental.drive}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Available Now?</td>
                        <td>
                            {% if rental.is_available == 1 %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Date Available</td>
                        <td>
                            {% if rental.is_available == 1 %}
                            Today
                            {% else %}
                            <a href="tel:8505263456">Call</a> for rental availability.
                            {% endif %}
                        </td>
                    <tr>
                        <td class="fw-bold">Rental Cost</td>
                        <td>$ {{'%0.2f'%rental.rate}} <span class="is-size-7">per machine hour</span></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Price Category</td>
                        <td>{{rental.price_range}}</td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col">
                        <p class="fs-3"><u>Description</u></p>
                        <p>{{rental.description}}</p>

                        <p class="fs-3"><u>Compatibility</u></p>
                        <p class="mb-0">Compatible with these implements:</p>
                        {% if rental.implements %}
                        <ul class="list-group list-group-flush">
                            {% for implement in rental.implements %}
                            <li class="list-group-item">{{implement}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <p class="fs-3"><u>Features</u></p>
                    <p>{{rental.features}}</p>
                </div>
                <a href="{{url_for('account.reserve', id=rental.rental_id)}}"
                   class="btn btn-outline-info w-100 py-3 fw-bold">Select this rental</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
