{%extends "base.html"%}
{%block content%}

<div class="container is-fluid p-0">

    <h1 class="title is-3 is-family-secondary has-text-centered py-6 mb-0 has-background-light">
        <u>Our Rental Inventory</u>
    </h1>

    <div class="columns my-3">

        <aside class="menu column is-one-fifth pl-6">
            <p class="menu-label">Filters</p>
            <ul class="menu-list">
                <li><a>Tractors</a></li>
                <li><a>Mowers</a></li>
                <li><a>Power tools</a></li>
                <li><a>With Add-ons</a></li>
                <li><a>For Small Jobs</a></li>
                <li><a>For Medium Jobs</a></li>
                <li><a>For Large Jobs</a></li>
            </ul>
        </aside>

        <div class="column mx-5">
            <div class="container is-flex is-flex-direction-row is-flex-wrap-wrap">

                {%for rental in rentals%}

                <div class="m-4 column"
                     style="border: 2px solid whitesmoke; border-radius: 4px;">
                    {% for path in rental.image_paths %}
                    <figure class="image is-4by3 mb-3">
                        <a href="{{url_for('Rentals.details', id=rental.rental_id)}}">
                            <img class="card-img"
                                 src="{{url_for('static', filename='uploads/'+path)}}">
                        </a>
                    </figure>
                    {% endfor %}
                    <div class="content my-3">
                        <div class="is-flex is-flex-direction-row is-align-items-center">
                            <p class="is-size-4 is-family-secondary has-text-weight-bold is-flex-grow-1 mb-0">
                                <a href="{{url_for('Rentals.details', id=rental.rental_id)}}"
                                   class="is-link has-text-dark">
                                    {{rental.make}} {{rental.model}}
                                </a>
                            </p>
                            <a href="{{url_for('Rentals.details', id=rental.rental_id)}}"
                               class="is-link column is-one-quarter"> See More </a>
                        </div>
                        <p class="subtitle is-6">
                            {{rental.category}} - {{rental.stock}}
                        </p>
                    </div>
                    <div class="content my-3">
                        <p class="p-4 has-background-light has-text-weight-bold">
                            ${{'%0.2f'%rental.rate}} / machine hour <span class="is-size-7">({{rental.price_range}})
                        </p>
                        <div class="tags are-medium">
                            {%if rental.is_available == 1%}
                            <span class="tag is-link">Available Now!</span>
                            {%endif%}
                            <span class="tag">{{rental.drive}}</span>
                            <span class="tag">{{rental.fuel_type}}</span>
                        </div>
                        <p><strong>Engine</strong>: {{rental.horse_power}} horsepower. <span class="is-size-7">Perfect for <strong>{{rental.job_category}}</strong>!</p>
                        <p><strong>Deck Size</strong>: {{rental.deck_size}}</p>
                        <p><strong>Compatible Implements</strong>:
                            {% if rental.implements %}
                        <ul>
                            {% for implement in rental.implements %}
                            <li>{{implement}}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        None
                        {% endif %}
                        </p>
                        <p><strong>Features</strong>: {{rental.features}}</p>
                        <p><strong>Description</strong>: {{rental.description}}</p>
                        <div class="has-text-right mt-5">
                            <a href="#"
                               class="button is-info">
                                <i class="fas fa-plus mr-3"></i> Add to Cart
                            </a>
                        </div>
                    </div>
                </div>

                {%endfor%}


            </div>
        </div>
    </div>

    {%endblock%}
